{% extends 'CituaoUsuarioBundle::layout.html.twig' %}

{% block js  %}
<script>
$( "#programas" ).css("background-color","#000");
$( "#programas img" ).css("opacity","0.4");
$( "#programas h3" ).css("opacity","0.4");
</script>

{% endblock %}

{% block content  %}
{{ parent() }}
<div class="content">
		{% block upSection  %}
		<div class = "upSection">
		<h1 class ="sectionTitle">Programas académicos</h2>
			<a href="{{ path('usuario_registrar_programa') }}" class = "button"><img src="{{ asset('img/academicosBoton.png') }}"/><h4>Nuevo Programa</h4></a>
		</div>
		{% endblock  %}

		{% block downSection  %}

			{% if msgerr.id == '1' %}
				<div class = "downSection">
				<div id = "error">{{ msgerr.descripcion }}</div>	
				</div>
			{% else %}
					<div class = "downSection">
						<table class="practicantesTableHead">
							<tbody>
								<tr class="tableHead">
								<th width="5%"></th> 
								<th width="6%"></th> 
								<th width="7%"></th>	
								<th width="16%"></th>	
								<th width="17%"></th>
								<th width="28%"><img style="margin-left:28%;" src="{{ asset('img/idLabel.png') }}"/></th>	
								<th><img style="margin-left:38px;" src="{{ asset('img/mailLabel.png') }}"/></th> 
								<th><h3><span></span></h3></th>
								</tr><!--tablehead -->
							</tbody>
						</table><!-- practicantes tableHead -->

						{% set id = 1 %}
						<div style="width: 100%; height: 750px; overflow: auto; position:relative; padding-bottom:30px;">
						<table class = "practicantesTable">
								<tbody>
									<tr class="spacer"></tr>
									{% for programa in listaProgramas %}
											<tr height="20px"  class="tableItem">
												<td id="hoverDiv">
													<td><h2>{{ id }}</h2></td>
													<td height="20px"><div class="itemImgContainer"></div></td> 
													<td style=" width:40%"><span style="margin-left:20px; ">{{ programa.nombre }}</span></td>
													<td width="5%"></td>
													<td width="15%">{{ programa.coordinador }}</td>>
													<td width="5%"></td>
													<td>{{ programa.email }}</td>
													<td><table class="opciones"><td>
					<a href="{{ path('usuario_actualizar_programa', { 'id': programa.id}) }}"><img src="{{ asset('img/editar.png') }}"><h3> Editar </h3></a>
															</td>
													</table> <!-- opciones --></td>
													<td style=" width:8%"></td>
												</td><!-- hover -->
											</tr><!-- tableItem -->
											{% set id = id + 1 %}
											<tr class="spacer"></tr>
									{% endfor %}

									<tr class="spacer"></tr>
									<tr class="spacer"></tr>
									<tr class="spacer"></tr>
									<tr class="spacer"></tr>
									<tr class="spacer"></tr>
								</tbody>
							</table>
						</div><!-- scroll div-->
					</div><!--downsection -->

			{% endif %}
		{% endblock  %}
	</div><!-- content -->

	<script>
	$( ".tableItem" ).mouseenter(function() {
		var hoverDiv = $('#hoverDiv', this);
		var opciones = $('.opciones', this);
		var itemPicture = $('.itemImgContainer', this);
		$(hoverDiv).css("background-color","#ec1c24");
		$(itemPicture).css("border-color","#ec1c24");

		$( opciones).animate({
			opacity: 1,
			top: "-4px",
		}, 300, function() {
	    // Animation complete.
	});
	});

	$( ".tableItem" ).mouseleave(function() {
		var hoverDiv = $('#hoverDiv', this);
		var itemPicture = $('.itemImgContainer', this);
		var opciones = $('.opciones', this);
		$(hoverDiv).css("background-color","#fff");
		$(itemPicture).css("border-color","#242021");
		$( opciones).animate({
			opacity: 0,
			top: "26px",
		}, 300, function() {
	    // Animation complete.
	});
	});

	</script>

	{% endblock %}
