{% extends '::base.html.twig' %}

{% block title %} Panel Principal::: Práctica Profesional UAO{% endblock %}

{% block stylesheets %}
	{{ parent() }}	
	
{% endblock %}



{% block body %}
	{{ parent() }}	

    	
{% endblock %}

{% block sideBarMenu %}
<div id="menu">	
	<a href="{{ path('cituao_coord_practicantes') }}" class="menubutton unable" id="hojaDeVida"> 
		<img id="practicanteIcon" src="{{ asset('img/practicanteIcon.png') }}">
		<h3>Hoja de Vida</h3>
		
	</a>
	<a href="{{ path('cituao_practicante_ver_asesorexterno') }}" class="menubutton"  id="asesoresExternos">
		<img id="externoIcon" src="{{ asset('img/externoIcon.png') }}">
		<h3>Mi asesor externo</h3>
		
	</a>
	<a href="{{ path('cituao_practicante_cronograma') }}" class="menubutton"  id="cronograma">
		<img id="externoIcon" src="{{ asset('img/cronograma.png') }}">
		<h3>Mi Cronograma</h3>
		
	</a>
	<a href="{{ path('cituao_practicante_ver_asesoracademico') }}" class="menubutton"  id="asesoresInternos">
		<img id="internoIcon" src="{{ asset('img/internoIcon.png') }}">
		<h3>Mi asesor académico</h3>
		
	</a>
	<a href="{{ path('cituao_practicante_ver_centro') }}" class="menubutton"  id="centroPractica">
		<img id="centroIcon" src="{{ asset('img/centroIcon.png') }}">
		<h3>Mi Centro de práctica</h3>	
	</a>
	
	
	
</div>


{% endblock  %}

{% block upSection %} 
    {% endblock %}

    {% block downSection %} 
    {% endblock %}


