{% extends '::base.html.twig' %}

{% block title %} Panel Principal::: Pr치ctica Profesional UAO{% endblock %}



{% block stylesheets %}
{{ parent() }}	

{% endblock %}





{% block body %}
{{ parent() }}


{% endblock %}


{% block sideBarMenu %}
<div id="menu">	
	<a href="{{ path('cituao_coord_practicantes') }}" class="menubutton" id="practicantes"> 
		<img id="practicanteIcon" src="{{ asset('img/practicanteIcon.png') }}">
		<h3>Practicantes</h3>
		
	</a>
	<!--<a href="{{ path('cituao_coord_cargar_estudiantes') }}" class="button"  id="anadir">
		<img id="anadirIcon" src="{{ asset('img/anadirIcon.png') }}">
		<h3>A침adir practicantes</h3>
		
	</a>-->
	<a href="{{ path('cituao_coord_asesores') }}" class="menubutton"  id="asesoresExternos">
		<img id="externoIcon" src="{{ asset('img/externoIcon.png') }}">
		<h3>Asesores externos</h3>
		
	</a>
	<a href="{{ path('cituao_coord_academicos') }}" class="menubutton"  id="asesoresInternos">
		<img id="internoIcon" src="{{ asset('img/internoIcon.png') }}">
		<h3>Asesores internos</h3>
		
	</a>
	<a href="{{ path('cituao_coord_centros') }}" class="menubutton"  id="centroPractica">
		<img id="centroIcon" src="{{ asset('img/centroIcon.png') }}">
		<h3>Centros de pr치ctica</h3>	
	</a>
	<a href="{{ path('cituao_coord_configuracion') }}" class="menubutton unable"  id="configuracion">
		<img id="configIcon" src="{{ asset('img/configIcon.png') }}">
		<h3 class="unable">Configuraci칩n</h3>
		
	</a>
	
</div>


{% endblock  %}

{% block upSection %} 
    {% endblock %}

    {% block downSection %} 
    {% endblock %}


