{% extends '::base.html.twig' %}

{% block title %} Panel Principal::: Práctica Profesional UAO{% endblock %}

{% block stylesheets %}
	{{ parent() }}	
	
{% endblock %}

{% block javascripts %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js"></script> 
	<script src="{{ asset('script/FitText.js-master/jquery.fittext.js') }}"></script>
{% endblock %}



{% block body %}
    	<div id="wrapper">
    		<div id="header">
    			<img src="{{ asset('img/headerLogo.png') }}" >
    			<div id="headerTitle">
	    			<h1>Práctica Profesional [31C204]</h1>
	    			<h2>Facultad de Comunicación Social</h2>
					<h3>Programa de Comunicación Social-Periodismo</h3>
	    			<a href="{{ path('cituao_coord_homepage') }}" id="homeButton">Panel Principal</a>
    			</div>
    			<a href="{{ path('logout') }}" id="cerrarButton">Cerrar Sesión [Usuario:{{ app.user.username }}]</a>
    		</div>
			{% block infowrapper  %}
			{% endblock %}
		</div> 
{% endblock %}

