{% extends '::base.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset('css/comun.css') }}" rel="stylesheet" />
{% endblock %}


{% block body %}
	<header>
		<div id = "grad1">
			<a id = "alogo" href={{ path('cituao_portal_uao') }}><img src="{{ asset('images/logo.png') }}" alt="UAO"></a>
		</div>
		<div id = "divnav">		
			<nav>
				<ul>
					{% block nav %}
				    <li><a href="{{ path('cituao_portal_homepage') }}">{{ "Universidad" }}</a></li>
				    <li><a href="{{ path('cituao_portal_homepage') }}">{{ "Programa" }}</a></li>
				    <li><a href="{{ path('cituao_portal_homepage') }}">{{ "Facultades" }}</a></li>
				    <li><a href="{{ path('cituao_portal_homepage') }}">{{ "Admisiones" }}</a></li>
				    <li><a href="{{ path('cituao_portal_homepage') }}">{{ "Investigacion" }}</a></li>
				    <li><a href="{{ path('cituao_portal_homepage') }}">{{ "Educacion continua" }}</a></li>
				    <li><a href="{{ path('cituao_portal_homepage') }}">{{ "Servicios" }}</a></li>
				    <li><a href="{{ path('cituao_portal_homepage') }}">{{ "Vida Universitaria" }}</a></li>
					{% endblock %}
				</ul>
			</nav>
		</div>
		</header>
	
	{% block anuncio %}{% endblock %}

	<section class = "secppal">
		{% block seccion %}
			<article>
				<h2>Articulo 1</h2>
			</article>

			<article>
				<h2>Articulo 2</h2>
			</article>
		{% endblock %}
	</section>

	<aside>
		{% block aside %}
		{{ render_esi(controller('CituaoUsuarioBundle:Default:cajaLogin')) }} 
		{% endblock %}
	</aside>

	{% block pie %}
		<footer>
		    &copy; {{ 'now'|date('Y') }} - APPWeb Prácticas profesionales - Centro de Innovación TIC -UAO
		    <a href="{{ path('usuario_login') }}">{{ "Ayuda" }}</a>
		    <a href="{{ path('cituao_portal_homepage') }}">{{ "Contacto" }}</a>
		    <a href="{{ path('cituao_portal_homepage') }}">{{ "Privacidad" }}</a>
		    <a href="{{ path('cituao_portal_homepage') }}">{{ "Sobre nosotros" }}</a>
		</footer>
	{% endblock %}

{% endblock %}
