{% extends '::frontend.html.twig' %}


{% block title %}Login ::: Práctica Profesional UAO{% endblock %}
{% block stylesheets %}
	<?php include '{{ asset('userNameIcon.svg') }}'; ?>
	
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="{{ asset('css/reset.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('css/login.css') }}"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js"></script> 
	<script type="text/javascript"></script>

	<style>
		@font-face{
			font-family: helveticaN;
			src: url(' {{ asset('fonts/helvetica/HelveticaNeueLTStd-Lt.otf') }} '),
			url(' {{ asset('fonts/helvetica/helveticaneueltstd-lt.woff') }} '),
			url(' {{ asset('fonts/helvetica/helveticaneueltstd-lt.eot') }} ');
			}
			@font-face{
			font-family: helveticaNBold;
			src: url(' {{ asset('fonts/helvetica/HelveticaNeueLTStd-Md.otf') }} ');
		}

	</style>
	
{% endblock %}


{% block body %}


    <div id="wrapper">
    	<div id="loginWrapper">
			{% if error %}
			<div id="headerError"> <h2>{{ error.message }}</h2></div>
			{% endif %} 
	   		<div id="loginContainer">
    			<div id="formWrapper">
    				<h2 id="loginTitle">Login</h2>
    					<form action="{{ path('usuario_login_check') }}" method="post">
							<div style="position:relative;"><input onfocus="activateTextField(this.id)" onblur="disableTextField(this.id)" id="usernameField" type="text" name="_username">
								<img id="userNameIcon" src=" {{ asset('img/userNameIcon.png') }}" />
							</div>
							<div style="position:relative;"><input id="passwordField" onfocus="activateTextField(this.id)" onblur="disableTextField(this.id)" type="password" name="_password">
								<img id="passwordIcon" src=" {{ asset('img/passwordIcon.png') }}" />
							</div>
							<input type="submit" value="Login"></input>
						</form>
				</div>
			</div>
		</div>


   		<div id="header">
    			<img src="{{ asset('img/headerLogo.png') }}" onerror="window.alert("no");this.onerror=null; this.src="{{ asset('img/headerLogo.png') }}">
    			<div id="headerTitle">
	    			<h1>Prácticas profesionales</h1>
	    			<h2>Facultad de comunicaciones</h2>
    			</div>


    		</div><!-- cierra header -->
    		<div id="infoWrapper">
    			<h2 id="titlee">
    				LA TECNOLOGÍA AL <br>
					<span>SERVICIO DE LA EDUCACIÓN</span>
    			</h2>
    			<p id="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel sem non lorem volutpat ornare ut nec urna. Nunc elementum tempor nisi at semper.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel sem non lorem volutpat ornare ut nec urna. Nunc elementum tempor nisi at semper.</p>

    			<div id="vidContainer" >
    				<div  id="playB"></div>
    			<video id="mainVid" src="{{ asset('video/vid.mp4') }}" width="100%" >
    				<!-- fallback to Flash: -->
					<object width="100%" height="80%" type="application/x-shockwave-flash" data="http://www.youtube.com/v/u1zgFlCw8Aw?fs=1&enablejsapi=1">
					<param name="movie" value="http://www.youtube.com/v/u1zgFlCw8Aw?fs=1&enablejsapi=1"></param>
					<param name="allowFullScreen" value="true"></param>
					<param name="allowScriptAccess" value="always"></param>
					<embed id="ytplayer" src="http://www.youtube.com/v/u1zgFlCw8Aw?fs=1&enablejsapi=1"
					  type="application/x-shockwave-flash"
					  allowfullscreen="true"
					  allowscriptaccess="always"
					  width="100%" >
					</embed>
					</object>
    			</video> <!-- poster="videotest.jpg" -->
    			</div>
    		</div><!-- infowrapper -->
    	</div><!-- wrapper -->
{% endblock %}

{% block javascripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js"></script> 

		<script src="script/FitText.js-master/jquery.fittext.js"></script>
		<script>

		var video = document.getElementById('mainVid');
		var playB =  document.getElementById('playB');
		var userIcon = document.getElementById("userNameIcon");
		var passwordIcon = document.getElementById("passwordIcon");
		
		/*$("#titlee").fitText(1.1, { minFontSize: '30px', maxFontSize: '31px' });
		$("#loginTitle").fitText(0.1, { minFontSize: '15px', maxFontSize: '30px' });*/

		

	
		$( "#playB" ).click(function() {
		  video.play();
		  video.controls = true;
		  $(playB).fadeOut("slow");
		});

		function activateTextField(id)
		{
			if(id=="usernameField"){
				userIcon.setAttribute("style", "fill: #af0000");
			}

			if(id=="passwordField"){
			  passwordIcon.setAttribute("style", "fill: #af0000");
			}
		  
		}

			function disableTextField(id)
		{
			if(id=="usernameField"){
				userIcon.setAttribute("style", "fill: #000");
			}

			if(id=="passwordField"){
			  passwordIcon.setAttribute("style", "fill: #000");
			}
		  
		}

		</script>
{% endblock %}



