{% extends 'CituaoAcademicoBundle::layout.html.twig' %}

{% block programa %}

{% endblock %}

{% block js  %}
<script>
$( "#asesoresInternos" ).css("background-color","#000");
$( "#asesoresInternos img" ).css("opacity","0.4");
$( "#asesoresInternos h3" ).css("opacity","0.4");
</script>

{% endblock %}


{% block content  %}
	{{ parent() }}
	<div class="content">
		{% block upSection  %}
		<div class = "upSection">
			<h1 class ="sectionTitle">Mis datos</h1>
			<a href="javascript:history.back()" class = "button"><img src="{{ asset('img/regresar.png') }}"/><h4>Regresar</h4></a>
		</div>
		{% endblock  %}

		{% block downSection  %}
		<div class="downSection">
			<div class="profileContainer">
				<div class="profilePictureContainer" style="width:200px;">
					<div class="imgContainer">
						<img class = "foto" border="0" src="{{ asset('uploads/fotos/' ~  academico.path) }}" alt="Pulpit rock" width="100%">
					</div>
				</div>
			<div class="profileFormContainer" style="height:580px;">
			<form action="{{ path('cituao_academico_actualizar', { 'ci': academico.ci }) }}" method="post" {{ form_enctype(formulario) }}>
			    <div>	{{ form_errors(formulario) }}	</div>

				
				
		
			    <div class="inputContainer"> 
					<h2>{{ form_label(formulario.nombres) }}</h2>
					<div class="input nomodificable">
					{{ form_errors(formulario.nombres) }}
					{{ form_widget(formulario.nombres, {'attr': {'class':'mediano'}} ) }}
					</div>
				</div>
			    <div class="inputContainer"> 
					<h2>{{ form_label(formulario.apellidos) }}</h2>
					<div class="input nomodificable">
					{{ form_errors(formulario.apellidos) }}
					{{ form_widget(formulario.apellidos, {'attr': {'class':'mediano'}} ) }}
					</div>
				</div>
					   <div class="inputContainer"> 
					<h2>{{ form_label(formulario.ci) }}</h2>
					<div class="input nomodificable">
					{{ form_errors(formulario.ci) }}
					{{ form_widget(formulario.ci, {'attr': {'class':'mediano'}} ) }}
					</div>
				</div>
			    <div class="inputContainer"> 
					<h2>{{ form_label(formulario.telefonoMovil) }}</h2>
					<div class="input nomodificable">
					{{ form_errors(formulario.telefonoMovil) }}
					{{ form_widget(formulario.telefonoMovil, {'attr': {'class':'corto'}} ) }}
					</div>
				</div>
			    <div class="inputContainer"> 
					<h2>{{ form_label(formulario.telefonoFijo) }}</h2>
					<div class="input nomodificable">
					{{ form_errors(formulario.telefonoFijo) }}
					{{ form_widget(formulario.telefonoFijo, {'attr': {'class':'corto'}} ) }}
					</div>
				</div>
			    <div class="inputContainer"> 
					<h2>{{ form_label(formulario.emailInstitucional) }}</h2>
					<div class="input nomodificable">
					{{ form_errors(formulario.emailInstitucional) }}
					{{ form_widget(formulario.emailInstitucional, {'attr': {'class':'mediano'}} ) }}
					</div>
			   </div>

			    <div class="inputContainer"> 
					<h2>{{ form_label(formulario.email) }}</h2>
					<div class="input nomodificable">
					{{ form_errors(formulario.email) }}
					{{ form_widget(formulario.email, {'attr': {'class':'mediano'}} ) }}
					</div>
			   </div>
				<div class="inputContainer"> 	
					<h2>{{ form_label(formulario.perfil) }}</h2>
					<div class="input nomodificable">
					{{ form_errors(formulario.perfil) }}
					{{ form_widget(formulario.perfil, {'attr': {'class':'mediano'}} ) }}
					</div>
				</div>
			   
			    {{ form_rest(formulario) }}
			     <div class="inputContainer" style="margin-top:80px; margin-left:-10px; width:auto !important">
			<div style="position:relative; float:right">
				<img style="position:absolute; left:15px; float:left; pointer-events:none;" src="{{ asset('img/guardar.png') }}" />
			    <input class="button" style="padding-left:38px"  type="submit" value="Guardar" />
			      </div>
			</div>
			  
			</form>	
		</div><!-- profileFormContainer -->
		</div><!-- profileContainer -->
		</div><!-- downSection -->
		{% endblock  %}
	</div><!-- content -->
{% endblock %}
