{% extends 'CituaoAcademicoBundle::layout.html.twig' %}

{% block infowrapper  %}
	<div id="infoWrapper">
		<h2 id="titlee">Registrando asesoría # {{ datos.numase }}</h2>

		<div id = "menuop">
			<ul>
			<li><a href="javascript:history.back()" class = "baropcion">Regresar</a></li>
			</ul>
		</div>

	
	<form action="{{ path('cituao_academico_registrar_asesoria'  , { 'id': datos.id, 'numase': datos.numase }) }}" method="post" {{ form_enctype(formulario) }}>
	    
			{{ form_errors(formulario) }}
				
				<div>
				{{ form_label(formulario.docAsesor1) }}
				{{ form_widget(formulario.docAsesor1) }}
				{{ form_errors(formulario.docAsesor1) }}

				</div>

			{{ form_rest(formulario) }}

			<input class="boton" type="submit" value="Guardar" />
	    
	</form>	
	</div>
{% endblock %}
