{% extends 'CituaoAcademicoBundle::layout.html.twig' %}

{% block programa %}
{{ programa.nombre }}
{% endblock %}

{% block js  %}
<script>
$( "#practicantes" ).css("background-color","#000");
$( "#practicantes img" ).css("opacity","0.4");
$( "#practicantes h3" ).css("opacity","0.4");
</script>

{% endblock %}


{% block content  %}
	{{ parent() }}
	
	<div class="content">
		{% block upSection  %}
			<div class = "upSection">
				<h1 class ="sectionTitle">Mi Cronograma de actividades</h1>		
				<a href="javascript:history.back()" class = "button"><img src="{{ asset('img/regresar.png') }}"/><h4>Regresar</h4></a>
			</div>
		{% endblock  %}

		{% block downSection  %}
		<div class = "downSection"> 
			<div class = "profileData" style="padding-left:30px;">
				<div class="imgContainer">
					<img style="position:absolute;"  class = "foto" border="0" src="{{ asset('uploads/fotos/' ~  p.path) }}" alt="Pulpit rock"  width="100%">
				</div>
				<h1 style="margin-top:25px; padding-top:10px;">{{ p.nombres }}  {{ p.apellidos }}</h1>
				<h2> {{ p.centro.nombre }}</h2>
				<h2>Asesor externo: <span>{{ p.externo.nombres }} {{ p.externo.apellidos }}</span></h2>
			</div><!-- profileData -->

			<table class="tabla">
			  <tbody>
				<tr class="tableHeader">
					<th>Mis actividades</th>
					<th>Fechas</th>
					<th>Estado</th>
					<th>Practicante</th>
					<th>Asesor externo</th>
					<th>Acción</th>
			  	</tr> <!--tablehead -->

				<tr style="height:8px;"></tr>
			  <tr>
				<td  class = "colActividad">Asesoría #1</td>
				<td  class = "colFecha">{{ c.fechaAsesoria1|date("d/m/Y") }}</td>
				{% if p.fechaAsesoria1 > date() %}
					<td class = "colEstado">Aun no es fecha!</td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
				{% else %}
					{% if c.listoAsesoria1 == false %}
						<td  class = "colEstado">Sin entregar!</td>
						<td class = "colEstado"></td>
						<td class = "colEstado"></td>
						<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 1}) }}">Entregar</a></td>
					{% else %}
						<td  class = "colEstado">Realizada</td>
						{% if p.listoAsesoria1 == true %}	
						<td class = "colEstado">Hizo comentarios!</td>
						{% else %}
						<td class = "colEstado">Sin comentarios!</td>
						{% endif %}
						<td class = "colEstado"></td>
						<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 1}) }}">Ver</a></td>
					{% endif %}
				{% endif %}

			  </tr>
			  <tr>
				<td>Asesoría #2</td>
				<td>{{ c.fechaAsesoria2|date("d/m/Y") }}</td>
				{% if p.fechaAsesoria2 > date() %}
					<td class = "colEstado">Aun no es fecha!</td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
				{% else %}
					{% if c.listoAsesoria2 == false %}
						<td  class = "colEstado">Sin entregar!</td>
						<td class = "colEstado"></td>
						<td class = "colEstado"></td>
						{% if c.listoAsesoria1 == true %}
						<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 2}) }}">Entregar</a></td>
						{% else %}
						<td class = "colEstado"></td>
						{% endif %}
					{% else %}
						<td  class = "colEstado">Realizada</td>
						{% if p.listoAsesoria2 == true %}	
						<td class = "colEstado">Hizo comentarios!</td>
						{% else %}
						<td class = "colEstado">Sin comentarios!</td>
						{% endif %}
						<td class = "colEstado"></td>
						<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 2}) }}">Ver</a></td>
					{% endif %}
				{% endif %}

			  </tr>

			  <tr>
				<td>Asesoría #3</td>
				<td>{{ c.fechaAsesoria3|date("d/m/Y") }}</td>
				{% if p.fechaAsesoria3 > date() %}
					<td class = "colEstado">Aun no es fecha!</td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
				{% else %}
					{% if c.listoAsesoria3 == false %}
						<td  class = "colEstado">Sin entregar!</td>
						<td class = "colEstado"></td>
						<td class = "colEstado"></td>
						{% if c.listoAsesoria2 == true %}
						<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 3}) }}">Entregar</a></td>
						{% else %}
						<td class = "colEstado"></td>
						{% endif %}
					{% else %}
						<td  class = "colEstado">Realizada</td>
						{% if p.listoAsesoria3 == true %}	
						<td class = "colEstado">Hizo comentarios!</td>
						{% else %}
						<td class = "colEstado">Sin comentarios!</td>
						{% endif %}
						<td class = "colEstado"></td>
						<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 3}) }}">Ver</a></td>
					{% endif %}
				{% endif %}
			  </tr>

			  <tr>
				<td>Asesoría #4</td>
				<td>{{ c.fechaAsesoria4|date("d/m/Y") }}</td>
				{% if p.fechaAsesoria4 > date() %}
					<td class = "colEstado">Aun no es fecha!</td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
				{% else %}
					{% if c.listoAsesoria4 == false %}
						<td  class = "colEstado">Sin entregar!</td>
						<td class = "colEstado"></td>
						<td class = "colEstado"></td>
						{% if c.listoAsesoria3 == true %}
						<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 4}) }}">Entregar</a></td>
						{% else %}
						<td class = "colEstado"></td>
						{% endif %}
					{% else %}
						<td  class = "colEstado">Realizada</td>
						{% if p.listoAsesoria4 == true %}	
						<td class = "colEstado">Hizo comentarios!</td>
						{% else %}
						<td class = "colEstado">Sin comentarios!</td>
						{% endif %}
						<td class = "colEstado"></td>
						<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 4}) }}">Ver</a></td>
					{% endif %}
				{% endif %}
			  </tr>
			  <tr>
				<td>Asesoría #5</td>
				<td>{{ c.fechaAsesoria5|date("d/m/Y") }}</td>
				{% if p.fechaAsesoria5 > date() %}
					<td class = "colEstado">Aun no es fecha!</td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
				{% else %}
					{% if c.listoAsesoria5 == false %}
						<td  class = "colEstado">Sin entregar!</td>
						<td class = "colEstado"></td>
						<td class = "colEstado"></td>
						{% if c.listoAsesoria4 == true %}
						<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 5}) }}">Entregar</a></td>
						{% else %}
						<td class = "colEstado"></td>
						{% endif %}
					{% else %}
						<td  class = "colEstado">Realizada</td>
						{% if p.listoAsesoria5 == true %}	
						<td class = "colEstado">Hizo comentarios!</td>
						{% else %}
						<td class = "colEstado">Sin comentarios!</td>
						{% endif %}
						<td class = "colEstado"></td>
						<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 5}) }}">Ver</a></td>
					{% endif %}
				{% endif %}
			  </tr>

			  <tr>
				<td>Asesoría #6</td>
				<td>{{ c.fechaAsesoria6|date("d/m/Y") }}</td>
				{% if p.fechaAsesoria6 > date() %}
					<td class = "colEstado">Aun no es fecha!</td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
				{% else %}
					{% if c.listoAsesoria6 == false %}
						<td  class = "colEstado">Sin entregar!</td>
						<td class = "colEstado"></td>
						<td class = "colEstado"></td>
						{% if c.listoAsesoria5 == true %}
						<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 6}) }}">Entregar</a></td>
						{% else %}
						<td class = "colEstado"></td>
						{% endif %}
					{% else %}
						<td  class = "colEstado">Realizada</td>
						{% if p.listoAsesoria6 == true %}	
						<td class = "colEstado">Hizo comentarios!</td>
						{% else %}
						<td class = "colEstado">Sin comentarios!</td>
						{% endif %}
						<td class = "colEstado"></td>
						<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 6}) }}">Ver</a></td>
					{% endif %}
				{% endif %}
			  </tr>

			  <tr>
				<td>Asesoría #7</td>
				<td>{{ c.fechaAsesoria7|date("d/m/Y") }}</td>
				{% if p.fechaAsesoria7 > date() %}
					<td class = "colEstado">Aun no es fecha!</td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
				{% else %}
					{% if c.listoAsesoria7 == false %}
						<td  class = "colEstado">Sin entregar!</td>
						<td class = "colEstado"></td>
						<td class = "colEstado"></td>
						{% if c.listoAsesoria6 == true %}
						<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 7}) }}">Entregar</a></td>
						{% else %}
						<td class = "colEstado"></td>
						{% endif %}
					{% else %}
						<td  class = "colEstado">Realizada</td>
						{% if p.listoAsesoria7 == true %}	
						<td class = "colEstado">Hizo comentarios!</td>
						{% else %}
						<td class = "colEstado">Sin comentarios!</td>
						{% endif %}
						<td class = "colEstado"></td>
						<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 7}) }}">Ver</a></td>
					{% endif %}
				{% endif %}
			  </tr>

			  <tr>
				<td>Visita presentación</td>
				<td>{{ c.fechaVisitaP|date("d/m/Y") }}</td>
				{% if c.listoVisitaP == true %}
					<td class = "colEstado">Realizada</td>
					<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_visitap', { 'id': p.id }) }}">Ver</a></td>
				{% elseif c.fechaVisitaP > date() %}
					<td class = "colEstado">Aun falta!</td>
					<td class = "colEstado">-</td>
				{% else %}
					<td class = "colEstado">Sin realizar</td>
					<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_visitap', { 'id': p.id }) }}">Realizar</a></td>
				{% endif %}
				
			  </tr>

			  <tr>
				<td>Evaluación #1</td>
				<td>{{ c.fechaEvaluacion1|date("d/m/Y") }}</td>
				{% if p.fechaVisita1 > date() %}
					<td class = "colEstado">Aun no es fecha!</td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
				{% else %}
					{% if e.listoEvaluacion1 == false %}
						<td class = "colEstado">Sin entregar!</td>
						<td class = "colEstado"></td>
						<td class = "colEstado">No ha entregado!</td>
						<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_comentario', { 'id': p.id, 'numeva': 1}) }}">Entregar</a></td>
					{% else %}
						{% if c.listoEvaluacion1 == false %}
							<td class = "colEstado">Sin comentar!</td>
							{% if p.listoVisita1 == true %}
								<td class = "colEstado">Hizo compromisos!</td>
							{% else %}
								<td class = "colEstado">Sin compromisos!</td>
							{% endif %}
							<td class = "colEstado">Realizada</td>
							<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_comentario', { 'id': p.id, 'numeva': 1}) }}">Entregar</a></td>
						{% else %}
							<td class = "colEstado">Entregado</td>
							{% if p.listoVisita1 == true %}
								<td class = "colEstado">Hizo compromisos!</td>
							{% else %}
								<td class = "colEstado">Sin compromisos!</td>
							{% endif %}
							<td class = "colEstado">Realizada</td>
							<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_comentario', { 'id': p.id, 'numeva': 1}) }}">Ver o Actualizar</a></td>

						{% endif %}
					{% endif %}
				{% endif %}
			  </tr>

			  <tr>
				<td>Evaluación #2</td>
				<td>{{ c.fechaEvaluacion2|date("d/m/Y") }}</td>
				{% if p.fechaVisita2 > date() %}
					<td class = "colEstado">Aun no es fecha!</td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
				{% else %}
					{% if e.listoEvaluacion2 == false %}
						<td class = "colEstado">Sin entregar!</td>
						<td class = "colEstado"></td>
						<td class = "colEstado">No ha entregado!</td>
						<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_comentario', { 'id': p.id, 'numeva': 2}) }}">Entregar</a></td>
					{% else %}
						{% if c.listoEvaluacion2 == false %}
							<td class = "colEstado">Sin comentar!</td>
							{% if p.listoVisita1 == true %}
								<td class = "colEstado">Hizo compromisos!</td>
							{% else %}
								<td class = "colEstado">Sin compromisos!</td>
							{% endif %}
							<td class = "colEstado">Realizada</td>
							<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_comentario', { 'id': p.id, 'numeva': 2}) }}">Entregar</a></td>
						{% else %}
							<td class = "colEstado">Entregado</td>
							{% if p.listoVisita1 == true %}
								<td class = "colEstado">Hizo compromisos!</td>
							{% else %}
								<td class = "colEstado">Sin compromisos!</td>
							{% endif %}
							<td class = "colEstado">Realizada</td>
							<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_comentario', { 'id': p.id, 'numeva': 2}) }}">Ver o Actualizar</a></td>

						{% endif %}
					{% endif %}
				{% endif %}
			  </tr>

			  <tr>
				<td>Informe de Gestión Cuali /Cuanti #1</td>
				<td>{{ c.fechaInformeGestion1|date("d/m/Y") }}</td>
				{% if  p.fechaInformeGestion1 > date() %}
					<td class = "colEstado">Aun no es fecha!</td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
				{% else %}
					{% if p.listoGestion1 == true %}
						{% if  c.listoGestion1 == true %}
						<td class = "colEstado">Entregado</td>
						<td class = "colEstado">Entregado</td>
						<td class = "colEstado"></td>
						<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_cualicuanti', { 'id': p.id, 'numcua': 1}) }}">Ver o actualizar</a></td>		
						{% else %}
						<td class = "colEstado">Sin entregar!</td>
						<td class = "colEstado">Entregado</td>
						<td class = "colEstado"></td>
						<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_cualicuanti', { 'id': p.id, 'numcua': 1}) }}">Entregar</a></td>		
						{% endif %}
					{% else %}
						<td class = "colEstado">Sin entregar!</td>
						<td class = "colEstado">No ha entregado</td>
						<td class = "colEstado"></td>
						<td class = "colEstado"></td>
					{% endif %}
				{% endif %}
			  </tr>

			  <tr>
				<td>Informe de Gestión Cuali /Cuanti  #2</td>
				<td>{{ c.fechaInformeGestion2|date("d/m/Y") }}</td>
				{% if  p.fechaInformeGestion2 > date() %}
					<td class = "colEstado">Aun no es fecha!</td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
				{% else %}
					{% if p.listoGestion2 == true %}
						{% if  c.listoGestion2 == true %}
						<td class = "colEstado">Entregado</td>
						<td class = "colEstado">Entregado</td>
						<td class = "colEstado"></td>
						<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_cualicuanti', { 'id': p.id, 'numcua': 2}) }}">Ver o actualizar</a></td>		
						{% else %}
						<td class = "colEstado">Sin entregar!</td>
						<td class = "colEstado">Entregado</td>
						<td class = "colEstado"></td>
						<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_cualicuanti', { 'id': p.id, 'numcua': 2}) }}">Entregar</a></td>		
						{% endif %}
					{% else %}
						<td class = "colEstado">Sin entregar!</td>
						<td class = "colEstado">No ha entregado</td>
						<td class = "colEstado"></td>
						<td class = "colEstado"></td>
					{% endif %}
				{% endif %}

			  </tr>

			  <tr>
				<td>Informe de Gestión Cuali /Cuanti  #3</td>
				<td>{{ c.fechaInformeGestion3|date("d/m/Y") }}</td>
				{% if  p.fechaInformeGestion3 > date() %}
					<td class = "colEstado">Aun no es fecha!</td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
				{% else %}
					{% if p.listoGestion3 == true %}
						{% if  c.listoGestion3 == true %}
						<td class = "colEstado">Entregado</td>
						<td class = "colEstado">Entregado</td>
						<td class = "colEstado"></td>
						<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_cualicuanti', { 'id': p.id, 'numcua': 3}) }}">Ver o actualizar</a></td>		
						{% else %}
						<td class = "colEstado">Sin entregar!</td>
						<td class = "colEstado">Entregado</td>
						<td class = "colEstado"></td>
						<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_cualicuanti', { 'id': p.id, 'numcua': 3}) }}">Entregar</a></td>		
						{% endif %}
					{% else %}
						<td class = "colEstado">Sin entregar!</td>
						<td class = "colEstado">No ha entregado</td>
						<td class = "colEstado"></td>
						<td class = "colEstado"></td>
					{% endif %}
				{% endif %}

			  </tr>

			  <tr>
				<td>Evaluación final</td>
				<td>{{ c.fechaEvaluacionFinal|date("d/m/Y") }}</td>
				{% if c.listoEvaluacionFinal == true %}
					<td class = "colEstado">Entregado</td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
					<td><a href="{{ path('cituao_academico_registrar_informefinal', { 'id': p.id}) }}">Ver o Actualizar</a></td>
				{% elseif c.fechaEvaluacionFinal > date() %}
					<td class = "colEstado">Aun falta!</td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
				{% else %}
					<td class = "colEstado">Sin entregar</td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
					<td class = "colEstado">
					{% if c.listoGestion3 == true and c.listoAsesoria7 == true and e.listoEvaluacion2 %}					
					<a href="{{ path('cituao_academico_registrar_informefinal', { 'id': p.id}) }}">Entregar</a></td>
					{% else %}
					Aun falta por entregar actividades!
					</td>	
					{% endif %}
				{% endif %}
				
			  </tr>
			  
			  <tr>
				<td>Acta de conformidad</td>
				<td>{{ e.fechaActa|date("d/m/Y") }}</td>
				{% if e.fechaActa > date() %}
					<td class = "colEstado">Aun falta!</td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
				{% else %}
					{% if e.listoActa == true %}
						<td class = "colEstado">Entregada</td>
						<td class = "colEstado"></td>
						<td class = "colEstado"></td>
						<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_conformidad', { 'id': p.id }) }}">Ver o Actualizar</a></td>
					{% else %}
						<td class = "colEstado">Sin entregar!</td>
						<td class = "colEstado"></td>
						<td class = "colEstado"></td>
						{% if e.listoEvaluacion2 == true %}
						<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_conformidad', { 'id': p.id }) }}">Entregar</a></td>
						{% else%}
						<td class = "colEstado">Falta entregar una actividad!</td>
						{% endif %}
					{% endif %}
				{% endif %}
			  </tr>

			  <tr>
				<td>Proyecto</td>
				<td>{{ e.fechaActa|date("d/m/Y") }}</td>
				{% if e.fechaActa > date() %}
					<td class = "colEstado">Aun falta!</td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
					<td class = "colEstado"></td>
				{% else %}
					{% if c.listoProyecto == true %}
						<td class = "colEstado">Entregada</td>
						<td class = "colEstado"></td>
						<td class = "colEstado"></td>
						<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_proyectofinal', { 'id': p.id }) }}">Ver o Actualizar</a></td>
					{% else %}
						<td class = "colEstado">Sin entregar!</td>
						<td class = "colEstado"></td>
						<td class = "colEstado"></td>
						{% if e.listoActa == true and c.listoEvaluacionFinal == true and p.listoInformeFinal == true %}
						<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_proyectofinal', { 'id': p.id }) }}">Entregar</a></td>
						{% else%}
						<td class = "colEstado">Falta entregar una actividad!</td>
						{% endif %}
					{% endif %}
				{% endif %}
			  </tr>
			    </tbody>
			</table>
			</div><!-- downSection -->
			{% endblock  %} 
		
		
	</div><!-- content -->

{% endblock %}

