{% extends 'CituaoAcademicoBundle::layout.html.twig' %}

{% block javascripts %}
	<meta charset="utf-8">
	 <title>jQuery UI Datepicker - Default functionality</title>
	 <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	 <script src="//code.jquery.com/jquery-1.9.1.js"></script>
	 <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	 <script src="{{ asset('js/date.js') }}"></script>
{% endblock %}


{% block infowrapper  %}
	
	
	<div id="infoWrapper">
		<h2 id = "titlee">Cronograma con el practicante {{ p.nombres }}  {{ p.apellidos }}</h2>
		<div id = "menuop">
			<ul>
			<li><a href="javascript:history.back()" class = "baropcion">Regresar</a></li>
			</ul>
		</div>
		<div id = "subinfowrapper"> 
			<table id = "tablaCronograma">
			  <tr>
				<th>ACTIVIDAD</th>
				<th>FECHA</th>
				<th>ESTADO</th>
				<th>ACCION</th>
			  </tr>
			
			  <tr>
				<td  class = "colActividad">Asesoría #1</td>
				<td  class = "colFecha">{{ c.fechaAsesoria1|date("d/m/Y") }}</td>
				{% if c.listoAsesoria1 == true %}
					<td  class = "colEstado">ENTREGADO</td>
					<td>Ver</td> 
				{% elseif c.fechaAsesoria1 > date() %}
					<td  class = "colEstado">AUN FALTA</td>
					<td>-</td>
				{% else %}
					<td  class = "colEstado">NO ENTREGADO</td>
					<td  class = "colEstado"><a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 1}) }}">Entregar</a></td>
				{% endif %}

			  </tr>
			  <tr>
				<td>Asesoría #2</td>
				<td>{{ c.fechaAsesoria2|date("d/m/Y") }}</td>
				{% if c.listoAsesoria2 == true %}
					<td>ENTREGADO</td>
					<td>Ver</td>
				{% elseif c.fechaAsesoria2 > date() %}
					<td>AUN FALTA</td>
					<td>-</td>
				{% else %}
					<td>NO ENTREGADO</td>
					<td>Entregar</td>
				{% endif %}

			  </tr>

			  <tr>
				<td>Asesoría #3</td>
				<td>{{ c.fechaAsesoria3|date("d/m/Y") }}</td>
				{% if c.listoAsesoria3 == true %}
					<td>ENTREGADO</td>
					<td>Ver</td>
				{% elseif c.fechaAsesoria3 > date() %}
					<td>AUN FALTA</td>
					<td>-</td>
				{% else %}
					<td>NO ENTREGADO</td>
					<td>Entregar</td>
				{% endif %}
			  </tr>

			  <tr>
				<td>Asesoría #4</td>
				<td>{{ c.fechaAsesoria4|date("d/m/Y") }}</td>
				{% if c.listoAsesoria4 == true %}
					<td>ENTREGADO</td>
					<td>Ver</td>
				{% elseif c.fechaAsesoria4 > date() %}
					<td>AUN FALTA</td>
					<td>-</td>
				{% else %}
					<td>NO ENTREGADO</td>
					<td>Entregar</td>
				{% endif %}
			  </tr>
			  <tr>
				<td>Asesoría #5</td>
				<td>{{ c.fechaAsesoria5|date("d/m/Y") }}</td>
				{% if c.listoAsesoria5 == true %}
					<td>ENTREGADO</td>
					<td>Ver</td>
				{% elseif c.fechaAsesoria5 > date() %}
					<td>AUN FALTA</td>
					<td>-</td>
				{% else %}
					<td>NO ENTREGADO</td>
					<td>Entregar</td>
				{% endif %}
			  </tr>

			  <tr>
				<td>Asesoría #6</td>
				<td>{{ c.fechaAsesoria6|date("d/m/Y") }}</td>
				{% if c.listoAsesoria6 == true %}
					<td>ENTREGADO</td>
					<td>Ver</td>
				{% elseif c.fechaAsesoria6 > date() %}
					<td>AUN FALTA</td>
			
					<td>-</td>
				{% else %}
					<td>NO ENTREGADO</td>
					<td>Entregar</td>
				{% endif %}
				
			  </tr>

			  <tr>
				<td>Asesoría #7</td>
				<td>{{ c.fechaAsesoria7|date("d/m/Y") }}</td>
				{% if c.listoAsesoria7 == true %}
					<td>ENTREGADO</td>
					<td>Ver</td>
				{% elseif c.fechaAsesoria7 > date() %}
					<td>AUN FALTA</td>
					<td>-</td>
				{% else %}
					<td>NO ENTREGADO</td>
					<td>Entregar</td>
				{% endif %}
				
			  </tr>

			  <tr>
				<td>Visita presentacion</td>
				<td>{{ c.fechaVisitaP|date("d/m/Y") }}</td>
				{% if c.listoVisitaP == true %}
					<td>ENTREGADO</td>
					<td>Ver</td>
				{% elseif c.fechaVisitaP > date() %}
					<td>AUN FALTA</td>
					<td>-</td>
				{% else %}
					<td>NO ENTREGADO</td>
					<td>Entregar</td>
				{% endif %}
				
			  </tr>

			  <tr>
				<td>Evaluación #1</td>
				<td>{{ c.fechaEvaluacion1|date("d/m/Y") }}</td>
				{% if c.listoEvaluacion1 == true %}
					<td>ENTREGADO</td>
					<td>Ver</td>
				{% elseif c.fechaEvaluacion1 > date() %}
					<td>AUN FALTA</td>
					<td>-</td>
				{% else %}
					<td>NO ENTREGADO</td>
					<td>Entregar</td>
				{% endif %}
				
			  </tr>

			  <tr>
				<td>Evaluación #2</td>
				<td>{{ c.fechaEvaluacion2|date("d/m/Y") }}</td>
				{% if c.listoEvaluacion2 == true %}
					<td>ENTREGADO</td>
					<td>Ver</td>
				{% elseif c.fechaEvaluacion2 > date() %}
					<td>AUN FALTA</td>
					<td>-</td>
				{% else %}
					<td>NO ENTREGADO</td>
					<td>Entregar</td>	
				{% endif %}

			  </tr>

			  <tr>
				<td>Informe de gestión #1</td>
				<td>{{ c.fechaInformeGestion1|date("d/m/Y") }}</td>
				{% if c.listoGestion1 == true %}
					<td>ENTREGADO</td>
					<td>Ver</td>
				{% elseif c.fechaInformeGestion1 > date() %}
					<td>AUN FALTA</td>
					<td>-</td>	
				{% else %}
					<td>NO ENTREGADO</td>
					<td>Entregar</td>
				{% endif %}

			  </tr>

			  <tr>
				<td>Informe de gestión #2</td>
				<td>{{ c.fechaInformeGestion2|date("d/m/Y") }}</td>
				{% if c.listoGestion2 == true %}
					<td>ENTREGADO</td>
					<td>Ver</td>
				{% elseif c.fechaInformeGestion2 > date() %}
					<td>AUN FALTA</td>
					<td>-</td>	
				{% else %}
					<td>NO ENTREGADO</td>
					<td>Entregar</td>
				{% endif %}

			  </tr>

			  <tr>
				<td>Informe de gestión #3</td>
				<td>{{ c.fechaInformeGestion3|date("d/m/Y") }}</td>
				{% if c.listoGestion3 == true %}
					<td>ENTREGADO</td>
					<td>Ver</td>
				{% elseif c.fechaInformeGestion3 > date() %}
					<td>AUN FALTA</td>
					<td>-</td>
				{% else %}
					<td>NO ENTREGADO</td>
					<td>Entregar</td>
				{% endif %}

			  </tr>

			  <tr>
				<td>Evaluación final</td>
				<td>{{ c.fechaEvaluacionFinal|date("d/m/Y") }}</td>
				{% if c.listoEvaluacionFinal == true %}
					<td>ENTREGADO</td>
					<td>Ver</td>
				{% elseif c.fechaEvaluacionFinal > date() %}
					<td>AUN FALTA</td>
					<td>-</td>
				{% else %}
					<td>NO ENTREGADO</td>
					<td>Entregar</td>
				{% endif %}
				
			  </tr>


			</table>
	</div>	
		
	</div>

{% endblock %}

