{% extends 'CituaoAcademicoBundle::layout.html.twig' %}

{% block js  %}
<script>
$( "#practicantes" ).css("background-color","#000");
$( "#practicantes img" ).css("opacity","0.4");
$( "#practicantes h3" ).css("opacity","0.4");
</script>

{% endblock %}


{% block content  %}
	{{ parent() }}
	
	<div class="content">
		{% block upSection  %}
			<div class = "upSection">
				<h1 class ="sectionTitle">Mi Cronograma de actividades</h1>		
				<a href="javascript:history.back()" class = "button"><img src="{{ asset('img/regresar.png') }}"/><h4>Regresar</h4></a>
			</div>
		{% endblock  %}

		{% block downSection  %}
		<div class = "downSection"> 
			<div class = "profileData" style="padding-left:30px;">
				<div class="imgContainer">
					<img style="position:absolute;"  class = "foto" border="0" src="{{ asset('uploads/fotos/' ~  p.path) }}" alt="Pulpit rock"  width="100%">
				</div>
				<h1 style="margin-top:25px; padding-top:10px;">{{ p.nombres }}  {{ p.apellidos }}</h1>
				<h2> {{ p.centro.nombre }}</h2>
				<h2>Asesor externo: <span>{{ p.externo.nombres }} {{ p.externo.apellidos }}</span></h2>
			</div><!-- profileData -->

			<table class="tabla">
			  <tbody>
				<tr class="tableHeader">
					<th>Mis actividades</th>
					<th>Fechas</th>
					<th>Estado de la actividad</th>
					<th>Acción</th>
			  	</tr> <!--tablehead -->

				<tr style="height:8px;"></tr>
			  <tr>
				<td  class = "colActividad">Asesoría #1</td>
				<td  class = "colFecha">{{ c.fechaAsesoria1|date("d/m/Y") }}</td>
				{% if c.listoAsesoria1 == true %}
					<td  class = "colEstado">Realizada</td>
					<td  class = "colEstado"><a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 1}) }}">Ver</a></td>
				{% elseif c.fechaAsesoria1 > date() %}
					<td  class = "colEstado">Aun falta!</td>
					<td>-</td>
				{% else %}
					<td  class = "colEstado">Sin realizar</td>
					<td  class = "colEstado"><a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 1}) }}">Realizar</a></td>
				{% endif %}

			  </tr>
			  <tr>
				<td>Asesoría #2</td>
				<td>{{ c.fechaAsesoria2|date("d/m/Y") }}</td>
				{% if c.listoAsesoria2 == true %}
					<td  class = "colEstado">Realizada</td>
					<td  class = "colEstado"><a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 2}) }}">Ver</a></td>
				{% elseif c.fechaAsesoria2 > date() %}
					<td class = "colEstado">Aun falta!</td>
					<td class = "colEstado">-</td>
				{% else %}
					<td class = "colEstado">Sin realizar</td>
					<td class = "colEstado">
					{% if c.listoAsesoria1 == true %}
					<a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 2}) }}">Realizar</a></td>
					{% else %}
					Aun falta por Asesoria 1</td>
					{% endif %}				
				{% endif %}

			  </tr>

			  <tr>
				<td>Asesoría #3</td>
				<td>{{ c.fechaAsesoria3|date("d/m/Y") }}</td>
				{% if c.listoAsesoria3 == true %}
					<td class = "colEstado">Realizada</td>
					<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 3}) }}">Ver</a></td>
				{% elseif c.fechaAsesoria3 > date() %}
					<td class = "colEstado">Aun falta!</td>
					<td>-</td>
				{% else %}
					<td class = "colEstado">Sin realizar</td>
					<td class = "colEstado">
					{% if c.listoAsesoria2 == true %}
					<a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 3}) }}">Entregar</a></td>
					{% else %}
					Aun falta por asesoría 2</td>				
					{% endif %}
				{% endif %}
			  </tr>

			  <tr>
				<td>Asesoría #4</td>
				<td>{{ c.fechaAsesoria4|date("d/m/Y") }}</td>
				{% if c.listoAsesoria4 == true %}
					<td class = "colEstado">Realizada</td>
					<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 4}) }}">Ver</a></td>
				{% elseif c.fechaAsesoria4 > date() %}
					<td class = "colEstado">Aun falta!</td>
					<td class = "colEstado">-</td>
				{% else %}
					<td class = "colEstado">Sin realizar</td>
					<td class = "colEstado">
					{% if c.listoAsesoria3 == true %}
					<a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 4}) }}">Entregar</a></td>
					{% else %}
					Aun falta por asesoría 3</td>	
					{% endif %}	
				{% endif %}
			  </tr>
			  <tr>
				<td>Asesoría #5</td>
				<td>{{ c.fechaAsesoria5|date("d/m/Y") }}</td>
				{% if c.listoAsesoria5 == true %}
					<td class = "colEstado">Realizada</td>
					<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 5}) }}">Ver</a></td>
				{% elseif c.fechaAsesoria5 > date() %}
					<td class = "colEstado">Aun falta!</td>
					<td class = "colEstado">-</td>
				{% else %}
					<td class = "colEstado">Sin realizar</td>
					<td class = "colEstado">
					{% if c.listoAsesoria4 == true %}
					<a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 5}) }}">Entregar</a></td>
					{% else %}
					Aun falta por asesoría 4</td>
					{% endif %}	
				{% endif %}
			  </tr>

			  <tr>
				<td>Asesoría #6</td>
				<td>{{ c.fechaAsesoria6|date("d/m/Y") }}</td>
				{% if c.listoAsesoria6 == true %}
					<td class = "colEstado">Realizada</td>
					<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 6}) }}">Ver</a></td>
				{% elseif c.fechaAsesoria6 > date() %}
					<td class = "colEstado">Aun falta!</td>
					<td class = "colEstado">-</td>
				{% else %}
					<td class = "colEstado">Sin realizar</td>
					<td class = "colEstado">
					{% if c.listoAsesoria5 == true %}
					<a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 6}) }}">Entregar</a></td>
					{% else %}
					Aun falta por asesoría 5</td>				
					{% endif %}
				{% endif %}
			  </tr>

			  <tr>
				<td>Asesoría #7</td>
				<td>{{ c.fechaAsesoria7|date("d/m/Y") }}</td>
				{% if c.listoAsesoria7 == true %}
					<td class = "colEstado">Realizada</td>
					<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 7}) }}">Ver</a></td>
				{% elseif c.fechaAsesoria7 > date() %}
					<td class = "colEstado">Aun falta!</td>
					<td class = "colEstado">-</td>
				{% else %}
					<td class = "colEstado">Sin realizar</td>
					<td class = "colEstado">
					{% if c.listoAsesoria6 == true %}
					<a href="{{ path('cituao_academico_registrar_asesoria', { 'id': p.id, 'numase': 7}) }}">Entregar</a></td>
					{% else %}
					Aun falta por asesoría 6</td>
					{% endif %}				
				{% endif %}
				
			  </tr>

			  <tr>
				<td>Visita presentacion</td>
				<td>{{ c.fechaVisitaP|date("d/m/Y") }}</td>
				{% if c.listoVisitaP == true %}
					<td class = "colEstado">Realizada</td>
					<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_visitap', { 'id': p.id }) }}">Ver</a></td>
				{% elseif c.fechaVisitaP > date() %}
					<td class = "colEstado">Aun falta!</td>
					<td class = "colEstado">-</td>
				{% else %}
					<td class = "colEstado">Sin realizar</td>
					<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_visitap', { 'id': p.id }) }}">Realizar</a></td>
				{% endif %}
				
			  </tr>

			  <tr>
				<td>Evaluación #1</td>
				<td>{{ c.fechaEvaluacion1|date("d/m/Y") }}</td>
				{% if c.listoEvaluacion1 == true %}
					<td class = "colEstado">Entregada</td>
					<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_comentario', { 'id': p.id, 'numeva': 1}) }}">Ver o Actualizar</a></td>
				{% elseif c.fechaEvaluacion1 > date() %}
					<td class = "colEstado">Aun falta!</td>
					<td class = "colEstado">-</td>
				{% else %}
					<td class = "colEstado">Sin entregar</td>
					<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_comentario', { 'id': p.id, 'numeva': 1}) }}">Entregar</a></td>
				{% endif %}
				
			  </tr>

			  <tr>
				<td>Evaluación #2</td>
				<td>{{ c.fechaEvaluacion2|date("d/m/Y") }}</td>
				{% if c.listoEvaluacion2 == true %}
					<td class = "colEstado">Entregada</td>
					<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_comentario', { 'id': p.id, 'numeva': 2}) }}">Ver o actualizar</a></td>
				{% elseif c.fechaEvaluacion2 > date() %}
					<td class = "colEstado">Aun falta!</td>
					<td class = "colEstado">-</td>
				{% else %}
					<td class = "colEstado">Sin entregar</td>
					<td class = "colEstado">
					{% if c.listoEvaluacion1 == true %}					
					<a href="{{ path('cituao_academico_registrar_comentario', { 'id': p.id, 'numeva': 2}) }}">Entregar</a></td>					{% else %}
					Aun falta por evaluación 1!</td>
					{% endif %}	
					
				{% endif %}

			  </tr>

			  <tr>
				<td>Informe de Gestión Cuali /Cuanti #1</td>
				<td>{{ c.fechaInformeGestion1|date("d/m/Y") }}</td>
				{% if c.listoGestion1 == true %}
					<td class = "colEstado">Entregado</td>
					<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_cualicuanti', { 'id': p.id, 'numcua': 1}) }}">Ver o Actualizar</a></td>
				{% elseif c.fechaInformeGestion1 > date() %}
					<td class = "colEstado">Aun falta!</td>
					<td class = "colEstado">-</td>	
				{% else %}
					<td class = "colEstado">Sin entregar</td>
					<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_cualicuanti', { 'id': p.id, 'numcua': 1}) }}">Entregar</a></td>
				{% endif %}

			  </tr>

			  <tr>
				<td>Informe de Gestión Cuali /Cuanti  #2</td>
				<td>{{ c.fechaInformeGestion2|date("d/m/Y") }}</td>
				{% if c.listoGestion2 == true %}
					<td class = "colEstado">Entregado</td>
					<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_cualicuanti', { 'id': p.id, 'numcua': 2}) }}">Ver o Actualizar</a></td>
				{% elseif c.fechaInformeGestion2 > date() %}
					<td class = "colEstado">Aun falta!</td>
					<td class = "colEstado">-</td>	
				{% else %}
					<td class = "colEstado">Sin entregar</td>
					<td class = "colEstado">
					{% if c.listoGestion1 == true %}
					<a href="{{ path('cituao_academico_registrar_cualicuanti', { 'id': p.id, 'numcua': 2}) }}">Entregar</a></td>					{% else %}
					Aun falta por Inf.Gestión #1!</td>
					{% endif %}
				{% endif %}

			  </tr>

			  <tr>
				<td>Informe de Gestión Cuali /Cuanti  #3</td>
				<td>{{ c.fechaInformeGestion3|date("d/m/Y") }}</td>
				{% if c.listoGestion3 == true %}
					<td class = "colEstado">Entregado</td>
					<td class = "colEstado"><a href="{{ path('cituao_academico_registrar_cualicuanti', { 'id': p.id, 'numcua': 3}) }}">Ver o Actualizar</a></td>
				{% elseif c.fechaInformeGestion3 > date() %}
					<td class = "colEstado">Aun falta!</td>
					<td class = "colEstado">-</td>
				{% else %}
					<td class = "colEstado">Sin entregar</td>
					<td class = "colEstado">
					{% if c.listoGestion2 == true %}
					<a href="{{ path('cituao_academico_registrar_cualicuanti', { 'id': p.id, 'numcua': 3}) }}">Entregar</a></td>					{% else %}
					Aun falta por Inf.Gestión #2!</td>
					{% endif %}
					
				{% endif %}

			  </tr>

			  <tr>
				<td>Evaluación final</td>
				<td>{{ c.fechaEvaluacionFinal|date("d/m/Y") }}</td>
				{% if c.listoEvaluacionFinal == true %}
					<td class = "colEstado">Entregado</td>
					<td><a href="{{ path('cituao_academico_registrar_informefinal', { 'id': p.id}) }}">Ver o Actualizar</a></td>
				{% elseif c.fechaEvaluacionFinal > date() %}
					<td class = "colEstado">Aun falta!</td>
					<td class = "colEstado">-</td>
				{% else %}
					<td class = "colEstado">Sin entregar</td>
					<td class = "colEstado">
					{% if c.listoGestion3 == true %}					
					<a href="{{ path('cituao_academico_registrar_informefinal', { 'id': p.id}) }}">Entregar</a></td>
					{% else %}
					Aun falta por Inf. Gestion #3!</td>	
					{% endif %}
				{% endif %}
				
			  </tr>

			    </tbody>
			</table>
			</div><!-- downSection -->
			{% endblock  %} 
		
		
	</div><!-- content -->

{% endblock %}

