{% extends 'CituaoAcademicoBundle::layout.html.twig' %}

{% block programa %}

{% endblock %}

{% block js  %}
<script>
$( "#asesoresInternos" ).css("background-color","#000");
$( "#asesoresInternos img" ).css("opacity","0.4");
$( "#asesoresInternos h3" ).css("opacity","0.4");
</script>

{% endblock %}

{% block content  %}
{{ parent() }}
<div class="content">
	{% block upSection  %}
	<div class = "upSection">
		<h1 class ="sectionTitle">Consulta de Asesor externo</h1>
		<a href="javascript:history.back()" class = "button"><img src="{{ asset('img/regresar.png') }}"/><h4>Regresar</h4></a>
	</div>
	{% endblock  %}

	{% block downSection  %}
	<div class = "downSection"> 
		<div class="profileContainer">
			<div class="profileFormContainer" style="height:580px;">
				<form action="" method="post">
					<div class="inputContainer">  
						<h2>Asesor:</h2>
						<div class="input nomodificable">
						<input type="text" value = "{{ externo.getNombreCompleto }}" readonly class = "largo">
						</div>

					</div>

					<div class="inputContainer">  	
						<h2>Teléfono movil:</h2>
						<div class="input nomodificable">
						<input type="text" value = "{{ externo.telefonoMovil }}" readonly>
						</div>

					</div>

					<div class="inputContainer">  	
						<h2>Teléfono fijo:</h2>
						<div class="input nomodificable">
						<input type="text" value = "{{ externo.telefonoFijo }}" readonly>
						</div>

					</div>

					<div class="inputContainer">  	
						<h2>Email:</h2>
						<div class="input nomodificable">
						<input type="text" value = "{{ externo.email }}" readonly>
						</div>

					</div>

					<div class="inputContainer">  	
						<h2>Cargo:</h2>
						<div class="input nomodificable">
						<input type="text" value = "{{ externo.cargo }}" readonly>
						</div>

					</div>

				</form>	
				</div > <!-- profileFormContainer -->
			</div ><!-- profileContainer -->
			</div><!-- downSection -->
			{% endblock %}
			</div><!--content -->
			{% endblock %}
