{% extends 'CituaoAcademicoBundle::layout.html.twig' %}

{% block programa %}

{% endblock %}

{% block js  %}
<script>
$( "#practicantes" ).css("background-color","#000");
$( "#practicantes img" ).css("opacity","0.4");
$( "#practicantes h3" ).css("opacity","0.4");
</script>
{% endblock %}

{% block content  %}
<div class="content">
	{% block upSection  %}
	<div class = "upSection">
		<h1 class="sectionTitle">Registrar entrega de proyecto final</h1>
		<a href="javascript:history.back()" class = "button"><img src="{{ asset('img/regresar.png') }}"/><h4>Regresar</h4></a>
	</div>
	{% endblock  %}

	{% block downSection  %}
	<div class = "downSection">
		<div class="inform">
			<form action="{{ path('cituao_academico_registrar_proyectofinal'  , { 'id': datos.id }) }}" method="post" {{ form_enctype(formulario) }}>
				{{ form_errors(formulario) }}
				<div class="activity">
					<div class="inputContainer">
						<h2  class="largeh2">
							¿Confirma haber recibido el proyecto final?:
						</h2>
						<div class="input">
							{{ form_label(formulario.listoProyecto) }}
							{{ form_widget(formulario.listoProyecto) }}
							{{ form_errors(formulario.listoProyecto) }}
						</div>
					</div>
				</div><!-- activity -->					

				{{ form_rest(formulario) }}
				
				<div class="inputContainer" style="position:relative; margin-top:20px; margin-left:20px;">
					<img style="position:absolute; left:15px; float:left; pointer-events:none;" src="{{ asset('img/guardar.png') }}" />
					<input style="padding-left:40px;" class="button"  type="submit" value="Guardar" />
				</div>
			</form>	
		</div><!--inform -->
	</div><!--downSection -->
	{% endblock  %}
</div><!--content -->
{% endblock %}