{% extends 'CituaoAcademicoBundle::layout.html.twig' %}

{% block infowrapper  %}
	<div id="infoWrapper">
		<h2 id="titlee">Registrando comentarios Evaluacion # 1</h2>

		<div id = "menuop">
			<ul>
			<li><a href="javascript:history.back()" class = "baropcion">Regresar</a></li>
			</ul>
		</div>

		<div id = "subinfowrapper">
	<form action="{{ path('cituao_academico_registrar_comentario'  , { 'id': datos.id, 'numeva': datos.numeva }) }}" method="post" {{ form_enctype(formulario) }}>
	    
					{{ form_errors(formulario) }}
					
					<div class = "datos">
					<h2>CARGO Y PLAN DE TRABAJO DE COMUNICACIÓN</h2>
					<h3>1.1. ¿Cuál es el proceso adelantado por el estudiante para el desarrollo de sus compromisos o actividades?</h3>
					</div>

					<div>
					{{ form_label(formulario.proceso) }}
					{{ form_widget(formulario.proceso) }}
					{{ form_errors(formulario.proceso) }}
					</div>
					
					<div class = "datos">
					<h3>1.2  ¿Cuáles son las herramientas  y recursos con que cuenta el practicante para el normal desarrollo de sus actividades?</h3>
					</div>
					
					<div>
					{{ form_label(formulario.herramientas) }}
					{{ form_widget(formulario.herramientas) }}
					{{ form_errors(formulario.herramientas) }}
					</div>

					<div class = "datos">
					<h3>2. ¿Cómo evalúa las variables relacionadas con el desempeño laboral?</h3>
					</div>
					{{ form_row(formulario.dl21) }}
					{{ form_row(formulario.dl22) }}
					{{ form_row(formulario.dl23) }}
					{{ form_row(formulario.dl24) }}
					{{ form_row(formulario.dl25) }}
					{{ form_row(formulario.dl26) }}
					{{ form_row(formulario.dl27) }}
					{{ form_row(formulario.dl28) }}
					{{ form_row(formulario.dl29) }}

					<div class = "datos">
					<h3>3. En relación con las variables actitudinales y relaciones interpersonales ¿cuál es su apreciación?</h3>
					</div>
					{{ form_row(formulario.va31) }}
					{{ form_row(formulario.va32) }}
					{{ form_row(formulario.va33) }}
					{{ form_row(formulario.va34) }}
					{{ form_row(formulario.va35) }}
					{{ form_row(formulario.va36) }}
					{{ form_row(formulario.va37) }}
					{{ form_row(formulario.va38) }}
					{{ form_row(formulario.va39) }}

					<div class = "datos">
					<h3>Logros y dificultades. Comentarios adicionales del asesor externo o jefe inmediato:</h3>
					</div>
			
					{{ form_row(formulario.comentarioExterno) }}

					{{ form_row(formulario.aprobado) }}
					
					
					
					<div class = "datos">
					<h3>Comentarios del Asesor Académico:</h3>
					</div>
					{{ form_label(formulario.comentarioAcademico) }}
					{{ form_widget(formulario.comentarioAcademico) }}
					{{ form_errors(formulario.comentarioAcademico) }}
		
				
			{{ form_rest(formulario) }}
			<input class="boton" type="submit" value="Guardar" />
	</form>	
	</div>
	</div>
{% endblock %}