{% extends 'CituaoAcademicoBundle::layout.html.twig' %}

{% block infowrapper  %}
	<div id="infoWrapper">
		<h2 id="titlee">Informe de gestión cuanti y cuali # {{ datos.numcua }}</h2>
		<div id = "menuop">
			<ul>
			<li><a href="javascript:history.back()" class = "baropcion">Regresar</a></li>
			</ul>
		</div>

		<div id = "subinfowrapper">
	<form action="{{ path('cituao_academico_registrar_cualicuanti'  , { 'id': datos.id, 'numcua': datos.numcua }) }}" method="post" {{ form_enctype(formulario) }}>
	    
		{{ form_errors(formulario) }}
		<div class = "tituloform">
		<h2 class = "datos">Informe cuantitativo</h2>
		</div>

		<div class = "subtituloform">
		<h3 class = "datos">Actividad</h3>
		</div>
		
		<div>
		{{ form_label(formulario.actividad1) }}
		{{ form_widget(formulario.actividad1) }}
		{{ form_errors(formulario.actividad1) }}
		</div>
		
		<div class = "subtituloform"><h3  class = "datos">Descripcion</h3></div>
		{{ form_label(formulario.descripcion1) }}
		{{ form_widget(formulario.descripcion1) }}
		{{ form_errors(formulario.descripcion1) }}

		<div class = "indicador">
		{{ form_label(formulario.indicador1) }}
		{{ form_widget(formulario.indicador1) }}
		{{ form_errors(formulario.indicador1) }}

		{{ form_label(formulario.porcentaje1) }}
		{{ form_widget(formulario.porcentaje1) }}
		{{ form_errors(formulario.porcentaje1) }}
		</div>

		<div class = "subtituloform"><h3 class = "datos">Actividad</h3></div>
		{{ form_label(formulario.actividad2) }}
		{{ form_widget(formulario.actividad2) }}
		{{ form_errors(formulario.actividad2) }}
		
		<div class = "subtituloform"><h3  class = "datos">Descripcion</h3></div>
		{{ form_label(formulario.descripcion2) }}
		{{ form_widget(formulario.descripcion2) }}
		{{ form_errors(formulario.descripcion2) }}

		<div class = "indicador">
		{{ form_label(formulario.indicador2) }}
		{{ form_widget(formulario.indicador2) }}
		{{ form_errors(formulario.indicador2) }}

		{{ form_label(formulario.porcentaje2) }}
		{{ form_widget(formulario.porcentaje2) }}
		{{ form_errors(formulario.porcentaje2) }}
		</div>

	
		<div class = "subtituloform"><h3 class = "datos">Actividad</h3></div>
		{{ form_label(formulario.actividad3) }}
		{{ form_widget(formulario.actividad3) }}
		{{ form_errors(formulario.actividad3) }}
		
		<div class = "subtituloform"><h3  class = "datos">Descripcion</h3></div>
		{{ form_label(formulario.descripcion3) }}
		{{ form_widget(formulario.descripcion3) }}
		{{ form_errors(formulario.descripcion3) }}

		<div class = "indicador">
		{{ form_label(formulario.indicador3) }}
		{{ form_widget(formulario.indicador3) }}
		{{ form_errors(formulario.indicador3) }}

		{{ form_label(formulario.porcentaje3) }}
		{{ form_widget(formulario.porcentaje3) }}
		{{ form_errors(formulario.porcentaje3) }}
		</div>

		<div class = "tituloform">
		<h2 class = "datos">Apreciaciones adicionales</h2>
		</div>

		{{ form_label(formulario.apreciacion) }}
		{{ form_widget(formulario.apreciacion) }}
		{{ form_errors(formulario.apreciacion) }}

		<div class = "tituloform">
		<h2 class = "datos">Tus comentarios</h2>
		</div>

		{{ form_label(formulario.comentarios) }}
		{{ form_widget(formulario.comentarios) }}
		{{ form_errors(formulario.comentarios) }}



		{{ form_rest(formulario) }}
		<input class="boton" type="submit" value="Guardar" />
	</form>	
	</div>
	</div>
{% endblock %}
