{% extends 'CituaoAcademicoBundle::layout.html.twig' %}

{% block programa %}
{{ programa.nombre }}
{% endblock %}

{% block js  %}
<script>
$( "#practicantes" ).css("background-color","#000");
$( "#practicantes img" ).css("opacity","0.4");
$( "#practicantes h3" ).css("opacity","0.4");
</script>

{% endblock %}

{% block content  %}
{{ parent() }}
<div class="content">
	{% block upSection  %}
	<div class = "upSection">
		<h1 class="sectionTitle">Informe de gesti贸n cuantitativa y cualitativa #{{ datos.numcua }} : Tus comentarios
		</h1>
		<a href="javascript:history.back()" class = "button"><img src="{{ asset('img/regresar.png') }}"/><h4>Regresar</h4></a>
	</div>
	{% endblock  %}

	{% block downSection  %}
	<div class = "downSection">
		<div class="inform">

			
			<form action="{{ path('cituao_academico_registrar_cualicuanti'  , { 'id': datos.id, 'numcua': datos.numcua }) }}" method="post" {{ form_enctype(formulario) }}>

				{{ form_errors(formulario) }}

				<h1><span>Informe Cuantitativo</span></h1>


				<div class="activity">

					<div class="inputContainer">
						<!--{{ form_label(formulario.actividad1) }}-->
						<h2>Actividad</h2>
						<div class="input nomodificable">
							{{ form_widget(formulario.actividad1) }}
							{{ form_errors(formulario.actividad1) }}
						</div>

					</div>



					<div class="inputContainer">
						<h2>Descripci贸n</h2>
						<div class="input nomodificable">
							{{ form_label(formulario.descripcion1) }}
							{{ form_widget(formulario.descripcion1) }}
							{{ form_errors(formulario.descripcion1) }}
						</div>
					</div>

					<div class="indicadores" >

						<div class="inputContainer" >
							<h2>{{ form_label(formulario.indicador1) }}</h2>
							<div class="input nomodificable">
								{{ form_widget(formulario.indicador1) }}
								{{ form_errors(formulario.indicador1) }}
							</div>
						</div>


						<div class="inputContainer" >
							<h2>{{ form_label(formulario.porcentaje1) }}</h2>
							<div class="input nomodificable">
								{{ form_widget(formulario.porcentaje1) }}
								{{ form_errors(formulario.porcentaje1) }}
							</div>
						</div>

					</div><!-- indicadores -->

				</div><!-- activity -->

				<div class="activity">
					<div class="inputContainer">
						<h2>Actividad</h2>
						<!--{{ form_label(formulario.actividad2) }}-->
						<div class="input nomodificable">
							{{ form_widget(formulario.actividad2) }}
							{{ form_errors(formulario.actividad2) }}
						</div>
					</div>

					<div class="inputContainer">
						<h2>Descripci贸n</h2>
						<!--{{ form_label(formulario.descripcion2) }}-->
						<div class="input nomodificable">
							{{ form_widget(formulario.descripcion2) }}
							{{ form_errors(formulario.descripcion2) }}
						</div>
					</div>
					<div class="indicadores" >
						<div class="inputContainer">
							<h2>{{ form_label(formulario.indicador2) }}</h2>
							<div class="input nomodificable">
								{{ form_widget(formulario.indicador2) }}
								{{ form_errors(formulario.indicador2) }}
							</div>
						</div>


						<div class="inputContainer">
							<h2>{{ form_label(formulario.porcentaje2) }}</h2>
							<div class="input nomodificable">
								{{ form_widget(formulario.porcentaje2) }}
								{{ form_errors(formulario.porcentaje2) }}
							</div>
						</div>
					</div><!-- indicadores -->
				</div><!-- activity -->


				<div class="activity">
					<div class="inputContainer">
						<h2>Actividad</h2>
						<!--{{ form_label(formulario.actividad3) }}-->
						<div class="input nomodificable">
							{{ form_widget(formulario.actividad3) }}
							{{ form_errors(formulario.actividad3) }}
						</div>
					</div>

					<div class="inputContainer">
						<h2>Descripci贸n</h2>
						<!--{{ form_label(formulario.descripcion3) }}-->
						<div class="input nomodificable">
							{{ form_widget(formulario.descripcion3) }}
							{{ form_errors(formulario.descripcion3) }}
						</div>
					</div>
					<div class="indicadores" >
						<div class="inputContainer">
							<h2>{{ form_label(formulario.indicador3) }}</h2>
							<div class="input nomodificable">
								{{ form_widget(formulario.indicador3) }}
								{{ form_errors(formulario.indicador3) }}
							</div>
						</div>
						<div class="inputContainer">
							<h2>{{ form_label(formulario.porcentaje3) }}</h2>
							<div class="input nomodificable">
								{{ form_widget(formulario.porcentaje3) }}
								{{ form_errors(formulario.porcentaje3) }}
							</div>
						</div>
					</div><!-- indicadores -->
				</div><!-- activity -->

				<div class="activity">
				<div class="inputContainer">
					<h2>Apreciaciones adicional</h2>
					<!--{{ form_label(formulario.apreciacion) }}-->
					<div class="input nomodificable">
						{{ form_widget(formulario.apreciacion) }}
						{{ form_errors(formulario.apreciacion) }}
					</div>
				</div>

				<div class="inputContainer">
					<h2>Comentarios adicionales</h2>

					<div class="input">
						{{ form_label(formulario.comentarios) }}
						{{ form_widget(formulario.comentarios) }}
						{{ form_errors(formulario.comentarios) }}
					</input>
				</div>
				</div><!-- activity -->

				{{ form_rest(formulario) }}
				<div class="inputContainer" style="position:relative; margin-top:20px;">

					<img style="position:absolute; left:15px; float:left; pointer-events:none;" src="{{ asset('img/guardar.png') }}" />
					<input style="padding-left:40px;" class="button" type="submit" value="Guardar cambios" />

				</div>
			</form>	

		</div><!-- profileContainer -->
	</div><!-- downSection -->
	{% endblock  %}
</div>
{% endblock %}
