{% extends 'CituaoAcademicoBundle::layout.html.twig' %}

{% block infowrapper  %}
	<div id="infoWrapper">
		<h2 id="titlee">Informe final</h2>
		<div id = "menuop">
			<ul>
			<li><a href="javascript:history.back()" class = "baropcion">Regresar</a></li>
			</ul>
		</div>

		<div id = "subinfowrapper">
	<form action="{{ path('cituao_academico_registrar_informefinal'  , { 'id': datos.id}) }}" method="post" {{ form_enctype(formulario) }}>
	    
		{{ form_errors(formulario) }}
		<div class = "tituloform">
		<h2 class = "datos">INFORME FINAL</h2>
		</div>

		<div class = "subtituloform">
		<h3 class = "datos">1. ¿Qué tipo de asesoría requirió el estudiante del Asesor Académico y de   la Universidad? ¿Cómo fue el  proceso de acompañamiento académico? (explique la metodología que utilizó)</h3>
		</div>
		
		<div>
		{{ form_label(formulario.metodologia) }}
		{{ form_widget(formulario.metodologia) }}
		{{ form_errors(formulario.metodologia) }}
		</div>

		
		<div class = "subtituloform">
		<h3  class = "datos">
		2. ¿Considera que el estudiante tiene o no las competencias necesarias para  el trabajo requerido por la 		organización?  Explique el perfil requerido, debilidades y fortalezas del estudiante en relación con las necesidades de la empresa.
		</h3>
		</div>
		{{ form_label(formulario.competencia) }}
		{{ form_widget(formulario.competencia) }}
		{{ form_errors(formulario.competencia) }}

	     <div class = "subtituloform" style ="height:60px">
		<h3  class = "datos">
		Recomendaciones generales y comentarios  a la Facultad y al Programa de Práctica (metodología, formatos, evaluación, 			seguimiento, otros)
		 </h3></div>	
		{{ form_label(formulario.recomendaciones) }}
		{{ form_widget(formulario.recomendaciones) }}
		{{ form_errors(formulario.recomendaciones) }}

		
		{{ form_rest(formulario) }}
		<input class="boton" type="submit" value="Guardar" />
	</form>	
	</div>
	</div>
{% endblock %}
