{% extends 'CituaoAcademicoBundle::layout.html.twig' %}

{% block infowrapper  %}
	<div id="infoWrapper">
		<h2 id = "titlee">Mis Practicantes son {{ datos.numeroPracticantes }} </h2>
		<div id = "menuop">
			<ul>
			<li><a href="javascript:history.back()" class = "baropcion">Regresar</a></li>
			
			</ul>
		</div>

	{% if msgerr.id == '1' %}
		<div id = "error">{{ msgerr.descripcion }} </div>		
	{% else %}

		<div id = "subinfowrapper">
			<table id = "customers">
			<tbody>
				<tr>
					<th>#</th>
					<th>Foto</th>
					<th>Nombres</th>
					<th>Apellidos</th>
					<th>Email institucional</th>
					<th>Email personal</th>
					<th>Teléfono móvil</th>
					<th>Asesor externo</th>
					<th>Centro de práctica</th>
					<th>Ver</th>
				</tr>
		
				{% set id = 1 %}
				{% set sw = false %}
				{% for practicante in listaPracticantes %}
					{% if sw == false %}
						<tr>
						{% set sw = true %}
					{% else %}
						<tr class = "alt">
						{% set sw = false %}
					{% endif %}

						<td>{{ id }}</th>
						<td><img id = "foto" border="0" src="{{ asset('uploads/fotos/' ~  practicante.path) }}" alt="Foto" width="68" height="68"></td>
						<td>{{ practicante.nombres }}</td>						
						<td>{{ practicante.apellidos }}</td>
						<td>{{ practicante.emailInstitucional }}</td>
						<td>{{ practicante.emailPersonal }}</td>
						<td>{{ practicante.telefonoMovil }}</td>
						<td><a href="{{ path('cituao_academico_verasesorexterno', { 'id': practicante.externo.id}) }}">{{ practicante.externo.nombreCompleto }}</a></td>
						<td><a href="{{ path('cituao_academico_vercentro', { 'id': practicante.centro.id}) }}">{{ practicante.centro.nombre }}</a></td>
						<td><a href="{{ path('cituao_academico_cronograma', { 'id': practicante.id}) }}"><img src="{{ asset('img/cronograma.png') }}" </a></td>

						
						
						
						
						
					</tr>
					{% set id = id + 1 %}
				{% endfor %}
				</tbody>
			</table>
			</div>
		</div>
	{% endif %}
	</div> <!-- cierra info wrapper-->
{% endblock %}

