{% extends 'CituaoExternoBundle::layout.html.twig' %}

{% block js  %}
<script>
$( "#practicantes" ).css("background-color","#000");
$( "#practicantes img" ).css("opacity","0.4");
$( "#practicantes h3" ).css("opacity","0.4");
</script>

{% endblock %}

{% block content  %}
{{ parent() }}
	<div class="content">
	{% block upSection  %}
		<div class = "upSection">
		<h1 class ="sectionTitle">Cronograma con el practicante</h1>
		
			<a href="javascript:history.back()" class = "button"><img src="{{ asset('img/regresar.png') }}"/><h4>Regresar</h4></a>
		</div>

	{% endblock  %}

	{% block downSection  %}
		<div class = "downSection"> 
			<div class = "profileData" style="padding-left:30px;">
				<div class="imgContainer">
					<img style="position:absolute;"  class = "foto" border="0" src="{{ asset('uploads/fotos/' ~  p.path) }}" alt="Pulpit rock" width="100%" >
				</div>
				<h1 style="margin-top:25px; padding-top:10px;">{{ p.nombres }}  {{ p.apellidos }}</h1>
				<h2>{{ p.centro.nombre }}</h2>
				<h2>Asesor académico: <span>{{ p.academico.nombres }} {{ p.academico.apellidos }}</span></h2>
			</div><!-- profile Data -->

			<table class="tabla">
			<tbody>
				<tr class="tableHeader">
					<th>Mis actividades</th>
					<th>Fecha</th>
					<th>Estado</th>
					<th>Acción</th>
			
				 </tr> <!--tablehead -->
			
			<tr style="height:8px;"></tr>

			  <tr>
				<td>Evaluación #1</td>
				<td>{{ c.fechaEvaluacion1|date("d/m/Y") }}</td>
				{% if c.listoEvaluacion1 == true %}
					<td class = "colEstado" >Entregada</td>
					<td class = "colEstado"><a href="{{ path('cituao_externo_registrar_evaluacion', { 'id': p.id, 'numeva': 1}) }}">Ver o Actualizar</a></td>
				{% elseif c.fechaEvaluacion1 > date() %}
					<td class = "colEstado">Aun falta!</td>
					<td class = "colEstado">-</td>
				{% else %}
					<td class = "colEstado">Sin entregar!</td>
					<td class = "colEstado"><a href="{{ path('cituao_externo_registrar_evaluacion', { 'id': p.id, 'numeva': 1}) }}">Entregar</a></td>
				{% endif %}
				
			  </tr>

			  <tr>
				<td>Evaluación #2</td>
				<td>{{ c.fechaEvaluacion2|date("d/m/Y") }}</td>
				{% if c.listoEvaluacion2 == true %}
					<td class = "colEstado">Entregada</td>
					<td class = "colEstado"><a href="{{ path('cituao_externo_registrar_evaluacion', { 'id': p.id, 'numeva': 2}) }}">Ver o actualizar</a></td>
				{% elseif c.fechaEvaluacion2 > date() %}
					<td class = "colEstado">Aun falta!</td>
					<td class = "colEstado">-</td>
				{% else %}
					<td class = "colEstado">Sin entregar!</td>
					{% if c.listoEvaluacion1 == true %}
					<td class = "colEstado"><a href="{{ path('cituao_externo_registrar_evaluacion', { 'id': p.id, 'numeva': 2}) }}">Entregar</a></td>	
					{% else %}
					<td class = "colEstado"></td>
					{% endif %}
				{% endif %}

			  </tr>

			  <tr>
				<td>Acta de conformidad</td>
				<td>{{ c.fechaActa|date("d/m/Y") }}</td>
				{% if c.listoActa == true %}
					<td class = "colEstado">Entregada</td>
					<td class = "colEstado"><a href="{{ path('cituao_externo_registrar_conformidad', { 'id': p.id }) }}">Ver o Actualizar</a></td>
				{% elseif c.fechaActa > date() %}
					<td class = "colEstado">Aun falta</td>
					<td class = "colEstado">-</td>
				{% else %}
					<td class = "colEstado">Sin entregar!</td>
					{% if c.listoEvaluacion2 == true %}
					<td class = "colEstado"><a href="{{ path('cituao_externo_registrar_conformidad', { 'id': p.id }) }}">Entregar</a></td>
					{% else %}
					<td class = "colEstado"></td>
					{% endif %}
					
				{% endif %}
				
			  </tr>

			</table>
	</div>	
	</div><!-- downSection -->
		{% endblock  %}

{% endblock %}
