{% extends 'CituaoExternoBundle::layout.html.twig' %}

{% block js  %}
<script>
$( "#practicantes" ).css("background-color","#000");
$( "#practicantes img" ).css("opacity","0.4");
$( "#practicantes h3" ).css("opacity","0.4");
</script>

{% endblock %}

{% block infowrapper  %}
			<div id="infoWrapper">
    			<h2 id="titlee">
    				PANEL<span>PRINCIPAL ASESOR EXTERNO<span> 
    			</h2>
    			<div id="buttonsContainer">	
						<a href="" class="button" id="practicantes"> 
    						<h2>MI PRACTICANTE</h2>
    						<img id="practicanteIcon" src="{{ asset('img/practicanteIcon.png') }}">
    					</a>
    					<a href="" class="button"  id="anadir">
    						<h2><span>AÑADIR</span> PRACTICANTES</h2>
    						<img id="anadirIcon" src="{{ asset('img/anadirIcon.png') }}">
    					</a>
    					<a href="" class="button"  id="asesoresExternos">
    						<h2>MIS DATOS<span> </span></h2>
    						<img id="externoIcon" src="{{ asset('img/externoIcon.png') }}">
    					</a>
    					<a href="" class="button"  id="asesoresInternos">
    						<h2>MIS ASESORES<span> ACADEMICOS</span></h2>
    						<img id="internoIcon" src="{{ asset('img/internoIcon.png') }}">
    					</a>
    					<a href="" class="button"  id="configuracion">
    						<h2>MI CRONOGRAMA</h2>
    						<img id="configIcon" src="{{ asset('img/configIcon.png') }}">
    					</a>
    					<a href="" class="button"  id="centroPractica">
    						<h2>MIS CENTROS<span> DE </span>PRÁCTICA</h2>
    						<img id="centroIcon" src="{{ asset('img/centroIcon.png') }}">
    					</a>
    			</div>
			</div><!-- infowrapper -->

	</div>
{% endblock %}
