{% extends 'CituaoPracticanteBundle::layout.html.twig' %}

{% block programa %}
{{ practicante.programa.nombre }}
{% endblock %}

{% block js  %}
<script>
$( "#cronograma" ).css("background-color","#000");
$( "#cronograma img" ).css("opacity","0.4");
$( "#cronograma h3" ).css("opacity","0.4");
</script>

{% endblock %}

{% block content  %}
<div class="content">
	{{ parent() }}
	{% block upSection  %}
	<div class = "upSection">
		<h1 class="sectionTitle">Evaluacion # {{ datos.numeva }} : Registrando compromiso</h1>
		<a href="{{ path('cituao_practicante_cronograma') }}" class = "button"><img src="{{ asset('img/regresar.png') }}"/><h4>Regresar</h4></a>
	</div>
	{% endblock  %}

	{% block downSection  %}
	<div class = "downSection">

		<div class="inform">
			<form action="{{ path('cituao_practicante_registrar_compromiso'  , { 'id': datos.id, 'numeva': datos.numeva }) }}" method="post" {{ form_enctype(formulario) }}>

				{{ form_errors(formulario) }}

				<h1><span>A continuación se le solicita evaluar  el proceso del practicante de acuerdo con los siguientes puntos.</span></h1>									
					<div class="activity">
						<div class="inputContainer">
							<h2 class="largeh2">¿En qué medida se han cumplido los objetivos y expectativas propuestos para el trabajo del practicante? Explique por qué</h2>

							<div class="input nomodificable">
								{{ form_label(formulario.cumplido) }}
								{{ form_widget(formulario.cumplido) }}
								{{ form_errors(formulario.cumplido) }}
							</div>
						</div>
					</div><!-- activity -->



					<div class="activity">
						<div class="inputContainer">
							<h2 class="largeh2">2. En relación con la Evaluación No. 1 mencione si se han presentado cambios o si hay continuidad en las variables relacionadas con el desempeño laboral.</h2>

							<div class="input nomodificable">
								{{ form_row(formulario.dl21) }}
							</div>
							<div class="input nomodificable">
								{{ form_row(formulario.dl22) }}
							</div>
							<div class="input nomodificable">
								{{ form_row(formulario.dl23) }}
							</div>
							<div class="input nomodificable">
								{{ form_row(formulario.dl24) }}
							</div>
							<div class="input nomodificable">
								{{ form_row(formulario.dl25) }}
							</div>
							<div class="input nomodificable">
								{{ form_row(formulario.dl26) }}
							</div>
							<div class="input nomodificable">
								{{ form_row(formulario.dl27) }}
							</div>
							<div class="input nomodificable">
								{{ form_row(formulario.dl28) }}
							</div>
							<div class="input nomodificable">
								{{ form_row(formulario.dl29) }}
							</div>
						</div>
					</div><!-- activity -->

					<div class="activity">
						<div class="inputContainer">
							<h2 class="largeh2">3. En relación con las variables actitudinales y relaciones interpersonales ¿cuál es su apreciación?</h2>
							<div class="input nomodificable">
								{{ form_row(formulario.va31) }}
							</div>
							<div class="input nomodificable">
								{{ form_row(formulario.va32) }}
							</div>
							<div class="input nomodificable">
								{{ form_row(formulario.va33) }}
							</div>
							<div class="input nomodificable">
								{{ form_row(formulario.va34) }}
							</div>
							<div class="input nomodificable">
								{{ form_row(formulario.va35) }}
							</div>
							<div class="input nomodificable">
								{{ form_row(formulario.va36) }}
							</div>
							<div class="input nomodificable">
								{{ form_row(formulario.va37) }}
							</div>
							<div class="input nomodificable">
								{{ form_row(formulario.va38) }}
							</div>
							<div class="input nomodificable">
								{{ form_row(formulario.va39) }}
							</div>
						</div>
					</div><!-- activity -->

					<div class="activity">
						<div class="inputContainer">

							<h2 class="largeh2">Logros y dificultades. Comentarios adicionales del Asesor Externo o Jefe Inmediato:</h2>
							<div class="input nomodificable">
								{{ form_label(formulario.comentarioExterno) }}
								{{ form_widget(formulario.comentarioExterno) }}
								{{ form_errors(formulario.comentarioExterno) }}
							</div>
						</div>

					</div><!-- activity -->


					<div class="activity">
						<div class="inputContainer">
							<h2 class="largeh2">4. ¿Qué aportes o beneficios le trae a la organización la presencia y trabajo  del practicante?</h2>
							<div class="input nomodificable">
								{{ form_row(formulario.aportes) }}
							</div>
						</div>
					</div><!-- activity -->

					<div class="activity">
						<div class="inputContainer">
							<h2 class="largeh2">5. ¿Qué proyección tiene para el cargo del practicante?</h2>
							<div class="input nomodificable">
								{{ form_row(formulario.proyeccion) }}
							</div>
						</div>
					</div><!-- activity -->


					<div class="activity">
						<div class="inputContainer">
							<h2 class="largeh2">6. ¿Cuál ha sido el compromiso, disposición y apoyo de la organización al trabajo del practicante?</h2>
							<div class="input nomodificable">
								{{ form_row(formulario.compromiso) }}
							</div>
						</div>
					</div><!-- activity -->



					<div class="activity">
						<div class="inputContainer">
							<h2 class="largeh2">7. ¿Qué apreciación tiene del Programa de Práctica Profesional desde la Gestión Administrativa y Académica?</h2>
							<div class="input nomodificable">
								{{ form_row(formulario.apreciacion) }}
							</div>
							<div class="input nomodificable">
								{{ form_row(formulario.aprobado) }}
							</div>
							
						</div>
					</div><!-- activity -->

					<div class="activity">
						<div class="inputContainer">
							<h2 class="largeh2">Comentarios del Asesor Académico:</h2>
							{{ form_label(formulario.comentarioAcademico) }}
							<div class="input nomodificable">
								{{ form_widget(formulario.comentarioAcademico) }}
								{{ form_errors(formulario.comentarioAcademico) }}
							</div>
						</div>
					</div><!-- activity -->

					<div class="activity">

						<div class="inputContainer"> 
							<h2 class="largeh2">Compromiso del practicante:</h2>
							{{ form_label(formulario.compromisop) }}
							<div class="input ">
								{{ form_widget(formulario.compromisop) }}
								{{ form_errors(formulario.compromisop) }}

							</div>
						</div>
					</div><!-- activity -->


					{{ form_rest(formulario) }}
					<div class="inputContainer" style="position:relative; margin-top:20px; margin-left:20px;">
						<img style="position:absolute; left:15px; float:left; pointer-events:none;" src="{{ asset('img/guardar.png') }}" />
						<input style="padding-left:40px;" class="button"  type="submit" value="Guardar" />
					</div>

				</form>	
			</div><!--inform -->
		</div><!--downSection -->
		{% endblock  %}
	</div><!--content -->
	{% endblock %}
