{% extends 'CituaoAcademicoBundle::layout.html.twig' %}

{% block js  %}
<script>
$( "#practicantes" ).css("background-color","#000");
$( "#practicantes img" ).css("opacity","0.4");
$( "#practicantes h3" ).css("opacity","0.4");
</script>

{% endblock %}

{% block content  %}
<div class="content">
	{{ parent() }}
	{% block upSection  %}
	<div class = "upSection">
		<h1 class="sectionTitle">Evaluacion # 1: Registrando compromiso</h1>
		<a href="javascript:history.back()" class = "button"><img src="{{ asset('img/regresar.png') }}"/><h4>Regresar</h4></a>
	</div>
	{% endblock  %}

	{% block downSection  %}

	<div class = "downSection">
		<div class="inform">
			<form action="{{ path('cituao_practicante_registrar_compromiso'  , { 'id': datos.id, 'numeva': datos.numeva }) }}" method="post" {{ form_enctype(formulario) }}>

				{{ form_errors(formulario) }}
				<h1><span>Cargo y plan de trabajo de comunicación</span></h1>
				<div class="activity">
					<div class="inputContainer">

						<h2 class="largeh2">1.1. ¿Cuál es el proceso adelantado por el estudiante para el desarrollo de sus compromisos o actividades?</h2>

						<div class="input">
							<!--{{ form_label(formulario.proceso) }} -->
							{{ form_widget(formulario.proceso) }}
							{{ form_errors(formulario.proceso) }}
						</div>
					</div>
				</div>

				<div class="activity">
					<div class="inputContainer">
						<h2 class="largeh2">1.2  ¿Cuáles son las herramientas  y recursos con que cuenta el practicante para el normal desarrollo de sus actividades?</h2>

						<!--{{ form_label(formulario.herramientas) }} -->
						<div class="input">
							{{ form_widget(formulario.herramientas) }}
							{{ form_errors(formulario.herramientas) }}
						</div>
					</div>
				</div>

				<div class="activity">
					<div class="inputContainer">
						<h2 class="largeh2">2. ¿Cómo evalúa las variables relacionadas con el desempeño laboral?</h2>
						<div class="input">
							{{ form_row(formulario.dl21) }}
						</div>
						<div class="input">
							{{ form_row(formulario.dl22) }}
						</div>
						<div class="input">
							{{ form_row(formulario.dl23) }}
						</div>
						<div class="input">
							{{ form_row(formulario.dl24) }}
						</div>
						<div class="input">
							{{ form_row(formulario.dl25) }}
						</div>
						<div class="input">
							{{ form_row(formulario.dl26) }}
						</div>
						<div class="input">
							{{ form_row(formulario.dl27) }}
						</div>
						<div class="input">
							{{ form_row(formulario.dl28) }}
						</div>
						<div class="input">
							{{ form_row(formulario.dl29) }}
						</div>
					</div>
				</div>


				<div class="activity">
					<div class="inputContainer">
						<h2 class="largeh2">3. En relación con las variables actitudinales y relaciones interpersonales ¿cuál es su apreciación?</h2>
						<div class="input">
							{{ form_row(formulario.va31) }}
						</div>
						<div class="input">
							{{ form_row(formulario.va32) }}
						</div>
						<div class="input">
							{{ form_row(formulario.va33) }}
						</div>
						<div class="input">
							{{ form_row(formulario.va34) }}
						</div>
						<div class="input">
							{{ form_row(formulario.va35) }}
						</div>
						<div class="input">
							{{ form_row(formulario.va36) }}
						</div>
						<div class="input">
							{{ form_row(formulario.va37) }}
						</div>
						<div class="input">
							{{ form_row(formulario.va38) }}
						</div>
						<div class="input">
							{{ form_row(formulario.va39) }}
						</div>
					</div>
				</div>


				<div class="activity">
					<div class="inputContainer">
						<h2 class="largeh2">Logros y dificultades. Comentarios adicionales del asesor externo o jefe inmediato:</h2>

						<div class="input nomodificable">
							{{ form_row(formulario.comentarioExterno) }}
						</div>
						<div class="input" style="margin-top:15px;">
							{{ form_row(formulario.aprobado) }}
						</div>
					</div>
				</div>


				<div class="activity">
					<div class="inputContainer">
						<h2 class="largeh2">Comentarios del Asesor Académico:</h2>

						<!--{{ form_label(formulario.comentarioAcademico) }}-->
						
						<div class="input nomodificable">
							{{ form_widget(formulario.comentarioAcademico) }}
							{{ form_errors(formulario.comentarioAcademico) }}
						</div>
					</div>
				</div>


				<div class="activity">
					<div class="inputContainer">
						<h2 class="largeh2">Tu compromiso:</h2>

						<!--{{ form_label(formulario.compromiso) }} -->

						<div class="input">
							{{ form_widget(formulario.compromiso) }}
							{{ form_errors(formulario.compromiso) }}
						</div>
					</div>
				</div>



				{{ form_rest(formulario) }}
				<div class="inputContainer" style="position:relative; margin-top:20px; margin-left:20px;">
					<img style="position:absolute; left:15px; float:left; pointer-events:none;" src="{{ asset('img/guardar.png') }}" />
					<input  style="padding-left:40px;" class="button"  type="submit" value="Guardar" />
				</div>
			</form>	
		</div><!-- inform -->
	</div><!-- downSection -->
	{% endblock  %}
</div><!-- content -->
{% endblock %}
