{% extends '::base.html.twig' %}

{% block title %} Panel Principal::: Práctica Profesional UAO{% endblock %}

{% block stylesheets %}
	{{ parent() }}	
	
{% endblock %}




{% block body %}
{{ parent() }}
    	
{% endblock %}

{% block sideBarMenu %}
<div id="menu">	
	<a href="{{ path('cituao_academico_practicantes') }}" class="menubutton" id="practicantes"> 
		<img id="practicanteIcon" src="{{ asset('img/practicanteIcon.png') }}">
		<h3>Practicantes</h3>
		
	</a>

	<a href="{{ path('cituao_academico_actualizar') }}" class="menubutton"  id="asesoresInternos">
		<img id="internoIcon" src="{{ asset('img/internoIcon.png') }}">
		<h3>Mis Datos</h3>
		
	</a>
	
	
</div>


{% endblock  %}

{% block upSection %} 
    {% endblock %}

    {% block downSection %} 
    {% endblock %}