{% extends 'CituaoCoordBundle::layout.html.twig' %}

{% block programa %}
{{ programa.nombre }}
{% endblock %}

{% block js  %}
<script>
$( "#practicantes" ).css("background-color","#000");
$( "#practicantes img" ).css("opacity","0.4");
$( "#practicantes h3" ).css("opacity","0.4");
</script>

{% endblock %}


{% block content  %}
<div class="content">
	{{ parent() }}
	{% block upSection  %}
	<div class = "upSection">
		<h1 class="sectionTitle">Consultando la Asesoría # {{ datos.numase }}</h1>
		<a href="javascript:history.back()" class = "button"><img src="{{ asset('img/regresar.png') }}"/><h4>Regresar</h4></a>
	</div>
	{% endblock  %}

	{% block downSection  %}
	<div class = "downSection">
		<div class="inform">
			<form action="" method="post">
				<div class="activity">	
					<div class="inputContainer">
						<label>Asesor:</label>
						<div class="input nomodificable">
							<textarea cols="125" rows="10" readonly>{{ datos.docase }}</textarea>
						</div>
					</div>




					<div class="inputContainer">
						<label>Practicante:</label>
						<div class="input nomodificable">
							<textarea cols="125" rows="10" readonly>{{ datos.docpra }}</textarea>
						</div>
					</div>
				</div><!--activity -->

			</form>	
		</div><!--inform-->
	</div><!--downSection-->
	{% endblock %}
</div>
{% endblock %}
