{% extends 'CituaoCoordBundle::layout.html.twig' %}

{% block programa %}
{{ programa.nombre }}
{% endblock %}

{% block infowrapper  %}
			<div id="infoWrapper">
		{% if msgerr.id == '1' %}
			<div>{{ msgerr.descripcion }} </div>		
		{% else %}


			<form action= {{ path('cituao_coord_cargar_estudiantes') }} method="post" {{ form_enctype(form) }}>
				{{ form_widget(form) }}

				<input type="submit" value="Subir archivo TXT" />
			</form>
		{% endif %}
{% endblock %}

