{% extends 'CituaoCoordBundle::layout.html.twig' %}

{% block js  %}
<script>
$( "#centroPractica" ).css("background-color","#000");
$( "#centroPractica img" ).css("opacity","0.4");
$( "#centroPractica h3" ).css("opacity","0.4");
</script>

{% endblock %}


{% block content  %}
{{ parent() }}
	<div class="content">
		{% block upSection  %}
		<div class = "upSection">
		<h1 class ="sectionTitle">Información del centro de práctica</h1>
		
			<a href="javascript:history.back()"class = "button"><img src="{{ asset('img/regresar.png') }}"/><h4>Regresar</h4></a>
			

		</div>
		{% endblock  %}

		{% block downSection  %}
		<div class="downSection">
			<div class="profileContainer">
				<div class="profileFormContainer">
	<form action="{{ path('cituao_coord_centro' , { 'codigo': centro.id}) }}" method="post" {{ form_enctype(formulario) }}>
	    
		<div>{{ form_errors(formulario) }}</div>
		
		<div class="inputContainer">
			<h2>{{ form_label(formulario.nombre) }}</h2>
			<div class="input"> 
			{{ form_errors(formulario.nombre) }}
			{{ form_widget(formulario.nombre, {'attr': {'class':'largo'}} ) }}
			</div>
		</div>
		
	    <div class="inputContainer">
	    
	    	{{ form_row(formulario.direccion) }}

	    </div>

	    <div class="inputContainer">
			<h2>{{ form_label(formulario.telefono) }}</h2>
			<div class="input"> 
			{{ form_errors(formulario.telefono) }}
			{{ form_widget(formulario.telefono, {'attr': {'class':'mediano'}} ) }}
			</div>
		</div>

	    <div class="inputContainer">
			<h2>{{ form_label(formulario.extension) }}</h2>
			<div class="input"> 
			{{ form_errors(formulario.extension) }}
			{{ form_widget(formulario.extension, {'attr': {'class':'corto'}} ) }}
			</div>
		</div>
		<div class="inputContainer">
			<h2>{{ form_label(formulario.email) }}</h2>
			<div class="input"> 
			{{ form_errors(formulario.email) }}
			{{ form_widget(formulario.email, {'attr': {'class':'mediano'}} ) }}
			</div>
		</div>
		<div class="inputContainer">
			<h2>{{ form_label(formulario.url) }}</h2>
			<div class="input"> 
			{{ form_errors(formulario.url) }}
			{{ form_widget(formulario.url, {'attr': {'class':'mediano'}} ) }}
			</div>
		</div>
	    {{ form_rest(formulario) }}
	    <div class="inputContainer" style="margin-top:20px; margin-left:-10px; width:auto !important">
			<div style="position:relative; float:right">
				<img style="position:absolute; left:15px; float:left; pointer-events:none;" src="{{ asset('img/guardar.png') }}" />
	    		<input style="padding-left:38px"  class="button" type="submit" value="Guardar" />
			</div>
		</div>
	</form>	
</div><!-- profileFormContainer -->
	</div><!-- profileContainer -->
	</div> <!-- downSection -->
	{% endblock  %}
</div><!-- content ->
{% endblock %}
