{% extends 'CituaoCoordBundle::layout.html.twig' %}


{% block infowrapper  %}
	<div id="infoWrapper">
		<h2 id = "titlee">Información del centro de práctica</h2>
		<div id = "menuop">
			<ul>
			<li><a href="" class = "baropcion">Regresar</a></li>
			
			</ul>
		</div>
		
		
		
		
	<form action="{{ path('cituao_coord_centro' , { 'codigo': centro.id}) }}" method="post" {{ form_enctype(formulario) }}>
	    {{ form_start(formulario) }}
		<div>{{ form_errors(formulario) }}</div>
		<div>
			{{ form_label(formulario.nombre) }}
			{{ form_errors(formulario.nombre) }}
			
			{{ form_widget(formulario.nombre, {'attr': {'class':'textolargo'}} ) }}
			
		</div>
	    <div>{{ form_row(formulario.direccion) }}</div>
	    <div>{{ form_row(formulario.telefono) }}</div>
	    <div>{{ form_row(formulario.extension) }}</div>
		<div>{{ form_row(formulario.email) }}</div>
		<div>{{ form_row(formulario.url) }}</div>
	    {{ form_end(formulario) }}
	    <input class="boton" type="submit" value="Guardar" />
	</form>	
	
	
	
	
	
</div>
{% endblock %}
