{% extends 'CituaoCoordBundle::layout.html.twig' %}

{% block infowrapper  %}
	<div id="infoWrapper">
		<h2 id = "titlee">Centros de práctica</h2>
		<div id = "menuop">
			<ul>
			<li><a href="{{ path('cituao_coord_registrarcentro') }}" class = "baropcion">Nuevo</a></li>
			
			</ul>
		</div>
	{% if msgerr.id == '1' %}
		<div id = "error">{{ msgerr.descripcion }} </div>		
	{% else %}
		<div id = "subinfowrapper">
		<div>
			<table id = "customers">
			<tbody>
				<tr>
					<th>#</th>
					<th>CENTRO DE PRACTICA</th>
					<th>DIRECCION</th>
					<th>TELEFONO</th>
					<th>EXTENSION</th>
					<th>EMAIL</th>
					<th>DIRECCION WEB</th>
				</tr>
		
				{% set id = 1 %}
				{% set sw = false %}
				{% for centro in listaCentros %}
					{% if sw == false %}
						<tr>
						{% set sw = true %}
					{% else %}
						<tr class = "alt">
						{% set sw = false %}
					{% endif %}
						<td>{{ id }}</th>
						<td>{{ centro.nombre }}</td>
						<td>{{ centro.direccion }}</td>
						<td>{{ centro.telefono }}</td>
						<td>{{ centro.extension }}</td>
						<td>{{ centro.email }}</td>
						<td><a href ="{{ centro.url }}" target="_blank">{{ centro.url }}</a></td>
						<td><a href="{{ path('cituao_coord_centro', { 'codigo': centro.id}) }}"> Ver y modificar </a></td>
					</tr>
					{% set id = id + 1 %}
				{% endfor %}
			</tbody>
			</table>
		</div>
		</div>
	{% endif %}
	</div> <!-- cierra info wrapper-->
{% endblock %}

