{% extends 'CituaoCoordBundle::layout.html.twig' %}

{% block programa %}
{{ programa.nombre }}
{% endblock %}

{% block js  %}
<script>  /*Deja activo la sesion Practicantes en la menu sidebar*/
$( "#practicantes" ).css("background-color","#000");
$( "#practicantes img" ).css("opacity","0.4");
$( "#practicantes h3" ).css("opacity","0.4");
</script>

<meta charset="utf-8">
	 <title>jQuery UI Datepicker - Default functionality</title>
	 <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	 <script src="//code.jquery.com/jquery-1.9.1.js"></script>
	 <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	 <script src="{{ asset('js/date.js') }}"></script>
{% endblock %}

{% block content  %}
{{ parent() }}
	<div class="content">
		{% block upSection  %}
			<div class="upSection">
			<h1 class="sectionTitle">Cronograma del practicante</h1>
			<a href="javascript:history.back()" class="button"><img src="{{ asset('img/regresar.png') }}"/><h4>Regresar</h4></a>
			{% if practicante.estado == 1 %}
			<a href="{{ path('cituao_coord_cronograma_eliminar' , { 'id': practicante.id}) }}" class="button"><img src="{{ asset('img/cancelar.png') }}"/><h4>Eliminar</h4></a>
			{% endif %}
			</div>
		{% endblock  %}

		{% block downSection  %}
		<div class="downSection">
			<div class="profileContainer">
				<div class="profilePictureContainer" >
				<div class="imgContainer" style="margin: 0 auto;">
				<img class="foto" border="0" src="{{ asset('uploads/fotos/' ~  practicante.path) }}" alt="Pulpit rock" width="100%">
				</div>
			</div><!-- profile pictureContainer -->
		<div class="profileFormContainer">
		<form action="{{ path('cituao_coord_cronograma' , { 'codigo': practicante.codigo}) }}" method="post" {{ form_enctype(formulario) }}>
				<div>{{ form_errors(formulario) }}</div>	

				<div class="inputContainer">
					<h2>{{ form_label(formulario.nombres) }}</h2>
					<div class="input"> 
					{{ form_widget(formulario.nombres, {'attr': {'class':'mediano'}} ) }}
					{{ form_errors(formulario.nombres) }}
					</div> 
				</div>
				
				<div class="inputContainer">
					<h2>{{ form_label(formulario.apellidos) }}</h2>
					<div class="input"> 
					{{ form_widget(formulario.apellidos, {'attr': {'class':'mediano'}} ) }}
					{{ form_errors(formulario.apellidos) }}
					</div>
				</div>

				<div class="inputContainer" id = "ruta" data-path = "{{ path('cituao_coord_obtener_externos') }}">
					<div class="input"> 
					{{ form_row(formulario.centro) }}
					</div>
				</div>
				
				<div class="inputContainer">
					<div class="input"> 
					{{ form_row(formulario.externo) }}
					</div > 
				</div>

				<div class="inputContainer">
					<div class="input"> 
					{{ form_row(formulario.academico) }}
					</div>
				</div>

				<div class="inputContainer">
					<h2>{{ form_label(formulario.fechaIniciacion) }}</h2>
					<div class="input"> 
					{{ form_widget(formulario.fechaIniciacion, {'attr': {'class':'corto'}} ) }}
					{{ form_errors(formulario.fechaIniciacion) }}
					</div>
				</div>


				<div class="titulo" style="display:none;">CRONOGRAMA PRACTICANTE</div>
				<div class="contenedor_fecha" style="display:none;">
					<div class = "fecha">
						{{ form_label(formulario.fechaAsesoria1) }}
						{{ form_widget(formulario.fechaAsesoria1, {'attr': {'class':'corto'}} ) }}
						{{ form_errors(formulario.fechaAsesoria1) }}
					</div>

					<div class = "fecha">
						{{ form_label(formulario.fechaAsesoria2) }}
						{{ form_widget(formulario.fechaAsesoria2, {'attr': {'class':'corto'}} ) }}
						{{ form_errors(formulario.fechaAsesoria2) }}
					</div>
					<div class = "fecha">
						{{ form_label(formulario.fechaAsesoria3) }}
						{{ form_widget(formulario.fechaAsesoria3, {'attr': {'class':'corto'}} ) }}
						{{ form_errors(formulario.fechaAsesoria3) }}
					</div>

					<div class = "fecha">
						{{ form_label(formulario.fechaAsesoria4) }}
						{{ form_widget(formulario.fechaAsesoria4, {'attr': {'class':'corto'}} ) }}
						{{ form_errors(formulario.fechaAsesoria4) }}
					</div>

					<div class = "fecha">
						{{ form_label(formulario.fechaAsesoria5) }}
						{{ form_widget(formulario.fechaAsesoria5, {'attr': {'class':'corto'}} ) }}
						{{ form_errors(formulario.fechaAsesoria5) }}
					</div>

					<div class = "fecha">
						{{ form_label(formulario.fechaAsesoria6) }}
						{{ form_widget(formulario.fechaAsesoria6, {'attr': {'class':'corto'}} ) }}
						{{ form_errors(formulario.fechaAsesoria6) }}
					</div>

					<div class = "fecha">
						{{ form_label(formulario.fechaAsesoria7) }}
						{{ form_widget(formulario.fechaAsesoria7, {'attr': {'class':'corto'}} ) }}
						{{ form_errors(formulario.fechaAsesoria7) }}
					</div>
				</div>
				
				<div class="contenedor_fecha1" style="display:none;">
					<div class = "fecha">
						{{ form_label(formulario.fechaVisitaP) }}
						{{ form_widget(formulario.fechaVisitaP, {'attr': {'class':'corto'}} ) }}
						{{ form_errors(formulario.fechaVisitaP) }}
					</div>
					<div class = "fecha">
						{{ form_label(formulario.fechaVisita1) }}
						{{ form_widget(formulario.fechaVisita1, {'attr': {'class':'corto'}} ) }}
						{{ form_errors(formulario.fechaVisita1) }}
					</div>
					<div  class = "fecha">
						{{ form_label(formulario.fechaVisita2) }}
						{{ form_widget(formulario.fechaVisita2, {'attr': {'class':'corto'}} ) }}
						{{ form_errors(formulario.fechaVisita2) }}
					</div>
				</div>
				
				<div class="contenedor_fecha1" style="display:none;">
					<div  class = "fecha">
						{{ form_label(formulario.fechaInformeGestion1) }}
						{{ form_widget(formulario.fechaInformeGestion1, {'attr': {'class':'corto'}} ) }}
						{{ form_errors(formulario.fechaInformeGestion1) }}
					</div>

					<div  class = "fecha">
						{{ form_label(formulario.fechaInformeGestion2) }}
						{{ form_widget(formulario.fechaInformeGestion2, {'attr': {'class':'corto'}} ) }}
						{{ form_errors(formulario.fechaInformeGestion2) }}
					</div>

					<div  class = "fecha">
						{{ form_label(formulario.fechaInformeGestion3) }}
						{{ form_widget(formulario.fechaInformeGestion3, {'attr': {'class':'corto'}} ) }}
						{{ form_errors(formulario.fechaInformeGestion3) }}
					</div>
				</div>
				
				<div class = "contenedor_fecha1" style="display:none;">
					<div  class = "fecha">
						{{ form_label(formulario.fechaInformeFinal) }}
						{{ form_widget(formulario.fechaInformeFinal, {'attr': {'class':'corto'}} ) }}
						{{ form_errors(formulario.fechaInformeFinal) }}
					</div>
				<div>

     			{{ form_rest(formulario) }}
				<div class="inputContainer" style="position:relative; margin-top:20px;">
					<img style="position:absolute; left:15px; float:left; pointer-events:none;" src="{{ asset('img/guardar.png') }}" />
				<input style="padding-left:40px;" class="button" type="submit" value="Guardar" />
				</div>
		</form>
		</div><!-- profile formContainer -->
		</div><!--profile Container -->
	</div><!-- downSection -->
		{% endblock %}
	</div>
{% endblock %}



