{% extends 'CituaoCoordBundle::layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="{{ asset('js/date.js') }}"></script>
{% endblock %}


{% block infowrapper  %}
	<div id="infoWrapper">

		<h2 id = "titlee">Cronograma del practicante</h2>
		<div id = "menuop">
			<ul>
			<li><a href="{{ path('cituao_coord_registrar_practicante') }}" class = "baropcion">Regresar</a></li>
			
			</ul>
		</div>


		<form action="{{ path('cituao_coord_cronograma' , { 'codigo': practicante.codigo}) }}" method="post" {{ form_enctype(formulario) }}>
				<div>{{ form_errors(formulario) }}</div>	
				
				<div>{{ form_row(formulario.apellidos) }}</div>
				<div>{{ form_row(formulario.nombres) }}</div>
				<div>{{ form_row(formulario.centro) }}</div>
				<div>{{ form_row(formulario.fechaMatriculacion) }}</div>
				<div>{{ form_row(formulario.fechaAsesoria1) }}</div>
				<div>{{ form_row(formulario.fechaAsesoria2) }}</div>
				<div>{{ form_row(formulario.fechaAsesoria3) }}</div>
				<div>{{ form_row(formulario.fechaAsesoria4) }}</div>
				<div>{{ form_row(formulario.fechaAsesoria5) }}</div>
				<div>{{ form_row(formulario.fechaAsesoria6) }}</div>
				<div>{{ form_row(formulario.fechaAsesoria7) }}</div>
				
				<div>{{ form_row(formulario.fechaVisitaP) }}</div>
				<div>{{ form_row(formulario.fechaVisita1) }}</div>
				<div>{{ form_row(formulario.fechaVisita2) }}</div>
				
				<div>{{ form_row(formulario.fechaInformeGestion1) }}</div>
				<div>{{ form_row(formulario.fechaInformeGestion2) }}</div>
				<div>{{ form_row(formulario.fechaInformeGestion3) }}</div>
				
				<div>{{ form_row(formulario.fechaInformeFinal) }}</div>
				
				
				
				{{ form_rest(formulario) }}
				<input class="boton" type="submit" value="Guardar" />
		</form>
	
	
	</div>

{% endblock %}



