{% extends 'CituaoCoordBundle::layout.html.twig' %}

{% block js  %}
<script>
$( "#practicantes" ).css("background-color","#000");
$( "#practicantes img" ).css("opacity","0.4");
$( "#practicantes h3" ).css("opacity","0.4");
</script>

{% endblock %}


{% block content  %}
{{ parent() }}
<div class="content">
	{% block upSection  %}
	<div class = "upSection">
		<h1 class="sectionTitle">Consulltando evaluacion # 1</h1>
		<a href="javascript:history.back()"  class = "button"><img src="{{ asset('img/regresar.png') }}"/><h4>Regresar</h4></a>
	</div>
	{% endblock  %}

	{% block downSection  %}
	<div class = "downSection">

		<div class="inform">
			<form action="" method="post">

				<h1><span>Cargo y plan de trabajo de comunicación</span></h1>
				<div class="activity">
					<div class="inputContainer">
						<h2 class="largeh2">1.1. ¿Cuál es el proceso adelantado por el estudiante para el desarrollo de sus compromisos o actividades?</h2>
						<textarea class= "input nomodificable" cols="125" rows="10" readonly>{{ formulario.proceso }}</textarea>
						
					</div>

					<div class="inputContainer">
						<h2 class="largeh2">1.2  ¿Cuáles son las herramientas  y recursos con que cuenta el practicante para el normal desarrollo de sus actividades?</h2>

						
						<textarea class="input nomodificable" cols="125" rows="10" readonly>{{ formulario.herramientas }}</textarea>
						
					</div>
				</div><!-- activity -->

				<div class="activity">
					<h2  style="margin-left:30px;" class="largeh2">2. ¿Cómo evalúa las variables relacionadas con el desempeño laboral?</h2>
					<div class="inputContainer">
						
						<h2>2.1 Capacidad de gestión</h2>
						<input class="input nomodificable" type="text" value="{{ formulario.dl21 }}" readonly>
					</div>

					<div class="inputContainer">
						<h2>2.2 Capacidad de negociación</h2>
						<input class="input nomodificable" type="text" value="{{ formulario.dl22 }}" readonly>
					</div>

					<div class="inputContainer">
						<h2>2.3 Creatividad</h2>
						<input class="input nomodificable" type="text" value="{{ formulario.dl23 }}" readonly>
					</div>

					<div class="inputContainer">
						<h2>2.4 Dominio Conceptual</h2>
						<input class="input nomodificable" type="text" value="{{ formulario.dl24 }}" readonly>
					</div>

					<div class="inputContainer">
						<h2>2.5 Iniciativa  </h2>
						<input class="input nomodificable" type="text" value="{{ formulario.dl25 }}" readonly>
					</div>

					<div class="inputContainer">
						<h2>2.6 Organización- Planeación</h2>
						<input class="input nomodificable" type="text" value="{{ formulario.dl26 }}" readonly>
					</div>

					<div class="inputContainer">
						<h2>2.7 Proactividad</h2>
						<input class="input nomodificable" type="text" value="{{ formulario.dl27 }}" readonly>
					</div>

					<div class="inputContainer">
						<h2>2.8 Recursividad</h2>
						<input class="input nomodificable" type="text" value="{{ formulario.dl28 }}" readonly>
					</div>

					<div class="inputContainer">
						<h2>2.9 Responsabilidad</h2>
						<input class="input nomodificable" type="text" value="{{ formulario.dl29 }}" readonly>
					</div>
				</div><!-- activity -->

				<div class="activity">
					
					<h2  style="margin-left:30px;" class="largeh2">3. En relación con las variables actitudinales y relaciones interpersonales ¿cuál es su apreciación?</h2>
					

					<div class="inputContainer">
						<h2>3.1 Adaptación al rol profesional</h2>
						<input  class="input nomodificable" type="text" value="{{ formulario.va31 }}" readonly>
					</div>

					<div class="inputContainer">
						<h2>3.2 Capacidad para recibir sugerencias</h2>
						<input class="input nomodificable" type="text" value="{{ formulario.va32 }}" readonly>
					</div>

					<div class="inputContainer">
						<h2>3.3 Capacidad para trabajar bajo presión</h2>
						<input class="input nomodificable" type="text" value="{{ formulario.va33 }}" readonly>
					</div>

					<div class="inputContainer">
						<h2>3.4 Capacidad para trabajar en equipo</h2>
						<input class="input nomodificable" type="text" value="{{ formulario.va34 }}" readonly>
					</div>

					<div class="inputContainer">
						<h2>3.5 Comportamiento ético</h2>
						<input class="input nomodificable" type="text" value="{{ formulario.va35 }}" readonly>
					</div>

					<div class="inputContainer">
						<h2>3.6 Compromiso</h2>
						<input class="input nomodificable" type="text" value="{{ formulario.va36 }}" readonly>
					</div>

					<div class="inputContainer">
						<h2>3.7 Presentación personal </h2>
						<input class="input nomodificable" type="text" value="{{ formulario.va37 }}" readonly>
					</div>

					<div class="inputContainer">
						<h2>3.8 Puntualidad</h2>
						<input class="input nomodificable" type="text" value="{{ formulario.va38 }}" readonly>
					</div>

					<div class="inputContainer">
						<h2>3.9 Relaciones interpersonales </h2>
						<input class="input nomodificable" type="text" value="{{ formulario.va39 }}" readonly>
					</div>
				</div><!-- activity -->

				<div class="activity">
					<div class="inputContainer">	
						<h2 class="largeh2">Logros y dificultades. Comentarios adicionales del asesor externo o jefe inmediato:</h2>
						<textarea class="input nomodificable" cols="125" rows="10" readonly>{{ formulario.comentarioExterno }}</textarea>
					</div>

					<div class="inputContainer">
						<h2>Comentarios del Asesor Académico:</h2>	
						<textarea class="input nomodificable" cols="125" rows="10" readonly>{{ formulario.comentarioAcademico }}</textarea>
					</div>

					<div class="inputContainer">
						<h2>Compromisos del practicante:</h2>	
						<textarea class="input nomodificable" cols="125" rows="10" readonly>{{ formulario.compromiso }}</textarea>
					</div>
				</div><!-- activity -->
			</form>	
		</div><!-- inform -->
	</div><!-- downSection -->
	{% endblock %}
</div><!-- content -->
{% endblock %}
