{% extends 'CituaoCoordBundle::layout.html.twig' %}


{% block js  %}
<script>
$( "#practicantes" ).css("background-color","#000");
$( "#practicantes img" ).css("opacity","0.4");
$( "#practicantes h3" ).css("opacity","0.4");
</script>

{% endblock %}

{% block content  %}
<div class="content">

	{% block upSection  %}
	<div class = "upSection">
		<h1 class="sectionTitle">Registrando Evaluacion # {{ datos.numeva }}</h1>
		<a href="javascript:history.back()" class = "button"><img src="{{ asset('img/regresar.png') }}"/><h4>Regresar</h4></a>
	</div>
	{% endblock  %}


	{% block downSection  %}
	<div class = "downSection">

		<div class="inform">
			<form action="" method="post">

				

				
				<h1><span>A continuación se le solicita evaluar  el proceso del practicante de acuerdo con los siguientes puntos.</span></h1>									
					<div class="activity">
						<div class="inputContainer">
							<h2 class="largeh2">¿En qué medida se han cumplido los objetivos y expectativas propuestos para el trabajo del practicante? Explique por qué</h2>

							<div class="input">
								{{ formulario.cumplido }}
							</div>
						</div>
					</div><!-- activity -->



					<div class="activity">
						<div class="inputContainer">
							<h2 class="largeh2">2. En relación con la Evaluación No. 1 mencione si se han presentado cambios o si hay continuidad en las variables relacionadas con el desempeño laboral.</h2>

							<div class="input">
								{{ formulario.dl21 }}
							</div>
							<div class="input">
								{{ formulario.dl22 }}
							</div>
							<div class="input">
								{{ formulario.dl23 }}
							</div>
							<div class="input">
								{{ formulario.dl24 }}
							</div>
							<div class="input">
								{{ formulario.dl25 }}
							</div>
							<div class="input">
								{{ formulario.dl26 }}
							</div>
							<div class="input">
								{{ formulario.dl27 }}
							</div>
							<div class="input">
								{{ formulario.dl28 }}
							</div>
							<div class="input">
								{{ formulario.dl29 }}
							</div>
						</div>
					</div><!-- activity -->

					<div class="activity">
						<div class="inputContainer">
							<h2 class="largeh2">3. En relación con las variables actitudinales y relaciones interpersonales ¿cuál es su apreciación?</h2>
							<div class="input">
								{{ formulario.va31 }}
							</div>
							<div class="input">
								{{ formulario.va32 }}
							</div>
							<div class="input">
								{{ formulario.va33 }}
							</div>
							<div class="input">
								{{ formulario.va34 }}
							</div>
							<div class="input">
								{{ formulario.va35 }}
							</div>
							<div class="input">
								{{ formulario.va36 }}
							</div>
							<div class="input">
								{{ formulario.va37 }}
							</div>
							<div class="input">
								{{ formulario.va38 }}
							</div>
							<div class="input">
								{{ formulario.va39 }}
							</div>
						</div>
					</div><!-- activity -->

					<div class="activity">
						<div class="inputContainer">

							<h2 class="largeh2">Logros y dificultades. Comentarios adicionales del Asesor Externo o Jefe Inmediato:</h2>
							<div class="input">
								{{ formulario.comentarioExterno }}
							</div>
						</div>

					</div><!-- activity -->


					<div class="activity">
						<div class="inputContainer">
							<h2 class="largeh2">4. ¿Qué aportes o beneficios le trae a la organización la presencia y trabajo  del practicante?</h2>
							<div class="input">
								{{ formulario.aportes }}
							</div>
						</div>
					</div><!-- activity -->



					<div class="activity">
						<div class="inputContainer">
							<h2 class="largeh2">5. ¿Qué proyección tiene para el cargo del practicante?</h2>
							<div class="input">
								{{ formulario.proyeccion }}
							</div>
						</div>
					</div><!-- activity -->


					<div class="activity">
						<div class="inputContainer">
							<h2 class="largeh2">6. ¿Cuál ha sido el compromiso, disposición y apoyo de la organización al trabajo del practicante?</h2>
							<div class="input">
								{{ formulario.compromiso }}
							</div>
						</div>
					</div><!-- activity -->



					<div class="activity">
						<div class="inputContainer">
							<h2 class="largeh2">7. ¿Qué apreciación tiene del Programa de Práctica Profesional desde la Gestión Administrativa y Académica?</h2>
							<div class="input">
								{{ formulario.apreciacion }}
							</div>
							<div class="input">
								{{ formulario.aprobado }}
							</div>
							
						</div>
					</div><!-- activity -->


					<div class="activity">
						<div class="inputContainer">
							<h2 class="largeh2">Comentarios del Asesor Académico:</h2>
							
							<div class="input nomodificable">
								{{ formulario.comentarioAcademico }}
							</div>
						</div>
					</div><!-- activity -->

					<div class="activity">

						<div class="inputContainer"> 
							<h2 class="largeh2">Compromiso del practicante:</h2>
														<div class="input nomodificable">
								{{ formulario.compromisop }}
								{{ formulario.compromisop }}

							</div>
						</div>
					</div><!-- activity -->


				</form>	
			</div><!--inform -->
		</div><!--downSection -->
		{% endblock  %}
	</div><!--content -->
	{% endblock %}