{% extends 'CituaoCoordBundle::layout.html.twig' %}

{% block infowrapper  %}
	<div id="infoWrapper">
		<h2 id="titlee">Datos del asesor externo </h2>

		<div id = "menuop">
			<ul>
			<li><a href="javascript:history.back()" class = "baropcion">Regresar</a></li>
			</ul>
		</div>

	
	<form action="{{ path('cituao_coord_externo'  , { 'ci': externo.ci }) }}" method="post" {{ form_enctype(formulario) }}>
	    
			{{ form_errors(formulario) }}
			<div>	
				{{ form_label(formulario.ci) }}
				{{ form_widget(formulario.ci, {'attr': {'class':'corto'}} ) }}
				{{ form_errors(formulario.ci) }}
			</div>
			<div>   
				{{ form_label(formulario.nombres) }}
				{{ form_widget(formulario.nombres, {'attr': {'class':'mediano'}} ) }}
				{{ form_errors(formulario.nombres) }}
			</div>
			<div>	
				{{ form_label(formulario.apellidos) }}
				{{ form_widget(formulario.apellidos, {'attr': {'class':'mediano'}} ) }}
				{{ form_errors(formulario.apellidos) }}
			</div>
			<div>	
				{{ form_label(formulario.telefonoMovil) }}
				{{ form_widget(formulario.telefonoMovil, {'attr': {'class':'corto'}} ) }}
				{{ form_errors(formulario.telefonoMovil) }}
			</div>
			<div>	
				{{ form_label(formulario.telefonoFijo) }}
				{{ form_widget(formulario.telefonoFijo, {'attr': {'class':'corto'}} ) }}
				{{ form_errors(formulario.telefonoFijo) }}
			</div>
			<div>
				{{ form_label(formulario.email) }}
				{{ form_widget(formulario.email, {'attr': {'class':'mediano'}} ) }}
				{{ form_errors(formulario.email) }}
			</div>

			{{ form_rest(formulario) }}

			<input class="boton" type="submit" value="Guardar" />
	    
	</form>	
	</div>
{% endblock %}
