{% extends 'CituaoCoordBundle::layout.html.twig' %}

{% block js  %}
<script>
$( "#asesoresExternos" ).css("background-color","#000");
$( "#asesoresExternos img" ).css("opacity","0.4");
$( "#asesoresExternos h3" ).css("opacity","0.4");
</script>

{% endblock %}

{% block infowrapper  %}
	<div id="infoWrapper">
		<h2 id = "titlee">Mis asesores externos</h2>
		<div id = "menuop">
			<ul>
			<li><a href="{{ path('cituao_coord_registrarexterno') }}"  class = "baropcion">Nuevo</a></li>
			</ul>
		</div>

		{% if msgerr.id == '1' %}
			<div id = "error">{{ msgerr.descripcion }}</div>		
		{% else %}
			<div id = "subinfowrapper">
			<table id = "customers">
			<tbody>
				<tr>
				<th>#</th> <th>CEDULA</th> <th>NOMBRES</th> <th>APELLIDOS</th> <th>CENTRO DE PRACTICA</th> <th>CARGO</th><th>TELEFONO FIJO</th><th>TELEFONO MOVIL</th><th>EMAIL</th><th>ACCION</th>
				</tr>
		
				{% set id = 1 %}
				{% set sw = false %}
				{% for asesor in listaAsesores %}
					{% if sw == false %}
						<tr>
						{% set sw = true %}
					{% else %}
						<tr class = "alt">
						{% set sw = false %}
					{% endif %}

						<td>{{ id }}</th>
						<td>{{ asesor.ci }}</td>
						<td>{{ asesor.nombres }}</td>
						<td>{{ asesor.apellidos }}</td>
						<td>{{ asesor.centro.nombre }}</td>
						<td>{{ asesor.cargo }} </td>
						<td>{{ asesor.telefonoFijo }}</td>
						<td>{{ asesor.telefonoMovil }}</td>
						<td>{{ asesor.email }}</td>

						<td><a href="{{ path('cituao_coord_externo', { 'ci': asesor.ci}) }}">Ver y modificar </a></td>
						</tr>
					{% set id = id + 1 %}
				{% endfor %}
			</tbody>
			</table>
			</div>
		{% endif %}
</div>
{% endblock %}

