{% extends 'CituaoCoordBundle::layout.html.twig' %}

{% block infowrapper  %}
	<div id="infoWrapper">
	<form action="{{ path('cituao_coord_externo'  , { 'ci': externo.ci }) }}" method="post" {{ form_enctype(formulario) }}>
	    <div>
			{{ form_errors(formulario) }}
			<div>	{{ form_row(formulario.ci) }}  </div>
			<div>   {{ form_row(formulario.nombres) }}   </div>
			<div>	{{ form_row(formulario.apellidos) }}  </div>
			<div>	{{ form_row(formulario.telefonoMovil) }}   </div>
			<div>	{{ form_row(formulario.telefonoFijo) }}    </div>
			<div>	{{ form_row(formulario.email) }}   </div>

			{{ form_rest(formulario) }}

			<input class="boton" type="submit" value="Guardar" />
	    </div>
	</form>	
	</div>
{% endblock %}
