{% extends 'CituaoCoordBundle::layout.html.twig' %}


{% block infowrapper  %}
	<div id="infoWrapper">
		<div id = "menuop">
			<ul>
			<li><a href="{{ path('cituao_coord_registrarexterno') }}"  id = "homeButton"> Registrar un nuevo asesor externo </a></li>
			</ul>
		</div>

		{% if msgerr.id == '1' %}
			<div>{{ msgerr.descripcion }} </div>		
		{% else %}
			<div id = "subinfowrapper">
			<div> <h3 id="titlee">	Tus Asesores externos </h3> </div>
			
			<table id = "customers">
			<tbody>
				<tr>
				<th>#</th>	<th>pIC</th> <th>CEDULA</th> <th>NOMBRES</th> <th>APELLIDOS</th> <th>TELEFONO</th>	<th>Acción</th>
				</tr>
		
				{% set id = 1 %}
				{% set sw = false %}
				{% for asesor in listaAsesores %}
					{% if sw == false %}
						<tr>
						{% set sw = true %}
					{% else %}
						<tr class = "alt">
						{% set sw = false %}
					{% endif %}

						<td>{{ id }}</th>
				
						<td><img border="0" src="{{ asset('uploads/fotos/user.jpeg') }}" alt="Pulpit rock" width="68" height="68"></td>
						<td>{{ asesor.ci }}</td>
						<td>{{ asesor.nombres }}</td>
						<td>{{ asesor.apellidos }}</td>
						<td>{{ asesor.telefonoMovil }}</td>				

						<td><a href="{{ path('cituao_coord_externo', { 'ci': asesor.ci}) }}"> Modificar </a></td>
						</tr>
					{% set id = id + 1 %}
				{% endfor %}
			</tbody>
			</table>
			</div>
		{% endif %}
</div>
{% endblock %}

