{% extends 'CituaoCoordBundle::layout.html.twig' %}

{% block js  %}
<script>
$( "#practicantes" ).css("background-color","#000");
$( "#practicantes img" ).css("opacity","0.4");
$( "#practicantes h3" ).css("opacity","0.4");
</script>

{% endblock %}


{% block content  %}
<div class="content">
	{{ parent() }}
	{% block upSection  %}
	<div class = "upSection">
		<h1 class="sectionTitle">Consultando Informe final del Asesor Académico</h1>

		<a href="javascript:history.back()"  class = "button"><img src="{{ asset('img/regresar.png') }}"/><h4>Regresar</h4></a>
	</div>
	{% endblock  %}

	{% block downSection  %}
	<div class = "downSection">

		<div class="inform">
			<form action="" method="post">

				<h1><span>Informe final</span></h1>

				<div class="activity">
					<div class="inputContainer">
						<h2>1. ¿Qué tipo de asesoría requirió el estudiante del Asesor Académico y de   la Universidad? </br></br>¿Cómo fue el  proceso de acompañamiento académico? (explique la metodología que utilizó)</h2>
						<textarea class="input nomodificable" cols="125" rows="10" readonly>{{ informe.metodologia }}</textarea>
					</div>

				</div><!-- activity -->



				<div class="activity">
					<div class="inputContainer">
						<h2 >2. ¿Considera que el estudiante tiene o no las competencias necesarias para  el trabajo requerido por la 		organización? </br></br> Explique el perfil requerido, debilidades y fortalezas del estudiante en relación con las necesidades de la empresa.</h2>
						<textarea class="input nomodificable" cols="125" rows="10" readonly>{{ informe.competencia }}</textarea>
					</div>
				</div><!-- activity -->

				<div class="activity">
					<div class="inputContainer">
						<h2 class="largeh2">Recomendaciones generales y comentarios  a la Facultad y al Programa de Práctica (metodología, formatos, evaluación, seguimiento, otros)</h2>
						<textarea class="input nomodificable" cols="125" rows="10" readonly>{{ informe.recomendaciones }}</textarea>
					</div>
				</div><!-- activity -->

			</form>	
		</div><!-- inform -->
	</div><!-- downSection -->
	{% endblock %}
</div><!-- content -->
{% endblock %}
