{% extends 'CituaoCoordBundle::layout.html.twig' %}

{% block infowrapper  %}
	<div id="infoWrapper">
		<h2 id = "titlee">Practicantes</h2>
		<div id = "menuop">
			<ul>
			<li><a href="{{ path('cituao_coord_cronograma' , { 'codigo': practicante.codigo}) }}" class = "baropcion">Calendario</a></li>
			<li><a href="{{ path('cituao_coord_registrar_practicante') }}" class = "baropcion">Buscar</a></li>
			</ul>
		</div>

		<form action="{{ path('cituao_coord_practicante' , { 'codigo': practicante.codigo}) }}" method="post" {{ form_enctype(formulario) }}>
				<div>{{ form_errors(formulario) }}</div>	
				<div><img border="0" src="{{ asset('uploads/fotos/' ~  practicante.path) }}" alt="Pulpit rock" width="114" height="144"></div>
				<div>{{ form_row(formulario.file) }}</div>
				<div>{{ form_row(formulario.codigo) }}</div>
				<div>{{ form_row(formulario.apellidos) }}</div>
				<div>{{ form_row(formulario.nombres) }}</div>
				<div>{{ form_row(formulario.ci) }}</div>
				<div>{{ form_row(formulario.emailInstitucional) }}	</div>
				<div>{{ form_row(formulario.emailPersonal) }}	</div>
				<div>{{ form_row(formulario.telefonoMovil) }}</div>
				<div>{{ form_row(formulario.area) }}</div>
				<div>{{ form_row(formulario.fechaMatriculacion) }}</div>
				{{ form_rest(formulario) }}
				<input class="boton" type="submit" value="Guardar" />
		</form>
	
	</div>
{% endblock %}

