{% extends '::frontend.html.twig' %}


{% block nav %}
	<li><a href="{{ path('cituao_coord_homepage') }}">{{ "Home" }}</a></li>
    <li><a href="{{ path('cituao_coord_practicantes') }}">{{ "Mis practicantes" }}</a></li>
    <li><a href="{{ path('cituao_portal_homepage') }}">{{ "Mis asesores académicos" }}</a></li>
    <li><a href="{{ path('cituao_portal_homepage') }}">{{ "Mis asesores externos" }}</a></li>
	<li><a href="{{ path('cituao_portal_homepage') }}">{{ "Mis centros de prácticas" }}</a></li>
	<li><a href="{{ path('cituao_portal_homepage') }}">{{ "Matricular" }}</a></li>
    <li><a href="{{ path('cituao_portal_homepage') }}">{{ "Configuraciones" }}</a></li>
    <li><a href="{{ path('logout') }}">{{ "Salir" }}</a></li>
{% endblock %}

{% block seccion %}
	<div>
	<table id = "customers">
	<tbody>
		<tr>
			<th>#</th>
			<th>CODIGO</th>
			<th>APELLIDOS</th>
			<th>NOMBRES</th>
			<th>ASIGNATURA</th>
			<th>CEDULA</th>              
		</tr>

		{% set sw = false %}
		{% for practicante in listaPracticantes %}
			{% if sw == false %}
				<tr>
				{% set sw = true %}
			{% else %}
				<tr class = "alt">
				{% set sw = false %}
			{% endif %}

				<td>1</th>
				<td>{{ practicante.codigo }}</td>
				<td>{{ practicante.apellidos }}</td>
				<td>{{ practicante.nombres }}</td>
				<td>{{ practicante.asignatura }}</td>
				<td><a href="{{ path('cituao_coord_practicante', { 'codigo': '{{ practicante.cedula }}'}) }}"> {{ practicante.cedula }} </a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>
{% endblock %}

{% block aside %}
		<section>
			<div id = "barratitulo">
				<h2>Datos de sección</h1>
			</div>
			<div>
				<h3>Buenos días Admin!Su última conexión fue el 01/01/2014 a las 9:00am</h3>
			</div>
		</section>
{% endblock %}

