{% extends 'CituaoCoordBundle::layout.html.twig' %}

{% block infowrapper  %}
	<div id="infoWrapper">
		<h2 id = "titlee">Practicantes</h2>
		<div id = "menuop">
			<ul>
			<li><a href="{{ path('cituao_coord_registrar_practicante') }}" class = "baropcion">Nuevo</a></li>
			<li><a href="{{ path('cituao_coord_registrar_practicante') }}" class = "baropcion">Buscar</a></li>
			</ul>
		</div>

	{% if msgerr.id == '1' %}
		<div id = "error">{{ msgerr.descripcion }} </div>		
	{% else %}

		<div id = "subinfowrapper">
			<table id = "customers">
			<tbody>
				<tr>
					<th>#</th>
					<th>FOTO</th>
					<th>CODIGO</th>
					<th>CEDULA</th>
					<th>APELLIDOS</th>
					<th>NOMBRES</th>
					<th>EMAIL INSTITUCIONAL</th>
					<th>EMAIL PERSONAL</th>
					<th>TELEFONO MOVIL</th>
					<th></th>
				</tr>
		
				{% set id = 1 %}
				{% set sw = false %}
				{% for practicante in listaPracticantes %}
					{% if sw == false %}
						<tr>
						{% set sw = true %}
					{% else %}
						<tr class = "alt">
						{% set sw = false %}
					{% endif %}

						<td>{{ id }}</th>
						<td><img border="0" src="{{ asset('uploads/fotos/user.jpeg') }}" alt="Pulpit rock" width="68" height="68"></td>
						<td>{{ practicante.codigo }}</td>
						<td>{{ practicante.ci }}</td>
						<td>{{ practicante.apellidos }}</td>
						<td>{{ practicante.nombres }}</td>
						<td>{{ practicante.emailInstitucional }}</td>
						<td>{{ practicante.emailPersonal }}</td>
						<td>{{ practicante.telefonoMovil }}</td>
						<td><a href="{{ path('cituao_coord_practicante', { 'codigo': practicante.codigo}) }}"> Ver y modificar</a></td>
					</tr>
					{% set id = id + 1 %}
				{% endfor %}
				</tbody>
			</table>
			</div>
		</div>
	{% endif %}
	</div> <!-- cierra info wrapper-->
{% endblock %}

