{% extends 'CituaoCoordBundle::layout.html.twig' %}

{% block programa %}
{{ programa.nombre }}
{% endblock %}

{% block js  %}
<script>

</script>
{% endblock %}

{% block content  %}
	{{ parent() }}
	<div class="content">
		{% block upSection  %}
			<div class="upSection">
				<h1 class ="sectionTitle">Practicantes asesor {{ academico.getNombreCompleto }}</h1>
			</div><!--up section -->
		{% endblock  %}

		
		{% block downSection  %}
			<div class = "downSection">
				
				{% if msgerr.id == '1' %}
					<div id = "error" style = "height: 200px;">{{ msgerr.descripcion }} 
					</div>		
				{% else %}
					<table class="practicantesTableHead">
						<tbody>
							<tr class="tableHead">
								<th width="5%"></th>
								<th width="10%"></th>
								<th width="18%"></th>
								<th width="16%"></th>
								<th width="8%"><img src="{{ asset('img/codigoLabel.png') }}"/></th>
								<th width="9%"><img style="margin-left:11px;" src="{{ asset('img/idLabel.png') }}"/></th>
								<th><img style="margin-left:20px;" src="{{ asset('img/telefonoLabel.png') }}"/></th>
								<th><img style="margin-left:70px;" src="{{ asset('img/mailLabel.png') }}"/></th>
								<th></th>
								<th></th>
							</tr> <!--tablehead -->
						</tbody>
					</table><!-- practicantes tableHead -->
			
						{% set id = 1 %}
						<div style="width: 100%; height: 750px; overflow: auto; position:relative; padding-bottom:30px;"> 
							<table class="practicantesTable">
							
								{% for practicante in listaPracticantes %}
								<tr class="spacer"></tr>
								<tr height="20px" class="tableItem">
									<td id="hoverDiv" >
										<td><h2>{{ id }}</h2></td>
										<td height="20px"><div class="itemImgContainer"><img class = "foto" border="0" src="{{ asset('uploads/fotos/' ~  practicante.path) }}" alt="Pulpit rock" width="100%" /></div></td>
										<td><span>{{ practicante.apellidos }}</span></td>
										<td><span>{{ practicante.nombres }}</span></td>
										<td>{{ practicante.codigo }}</td>
										<td>{{ practicante.ci }}</td>
										<td>{{ practicante.telefonoMovil }}</td>
										<td>
											<div>
												<table class="opciones">
													{% if practicante.estado == 0 %}
													<td><img src="{{ asset('img/nocrono.png') }}" /></td>
													{% else %}
													<td><a href="{{ path('cituao_coord_cronograma_practicante', { 'id': practicante.id}) }}"><img src="{{ asset('img/cronograma.png') }}" /><h3>Cronograma</h3></a></td>
													{% endif %}
													<td><a href="{{ path('cituao_coord_practicante', { 'codigo': practicante.codigo}) }}"><img src="{{ asset('img/editar.png') }}" ><h3>Editar</h3></a></td>
												</table> <!-- opciones -->
											</div>
											{{ practicante.emailInstitucional }} <br> {{ practicante.emailPersonal }}</td>
										</td> <!-- hoverDiv -->
									</tr>
									{% set id = id + 1 %}
									{% endfor %}
									<tr class="spacer"></tr>
									<tr class="spacer"></tr>
									<tr class="spacer"></tr>
									<tr class="spacer"></tr>
									<tr class="spacer"></tr>
									<tr class="spacer"></tr>
								</table>
						</div> <!-- tabla con items
					{% endif %}
			</div> <!-- cierra downSection-->
				
		{% endblock  %}
		
		</div> <!-- cierra content-->

			<script>

			$( ".tableItem" ).mouseenter(function() {
				var hoverDiv = $('#hoverDiv', this);
				var opciones = $('.opciones', this);
				var itemPicture = $('.itemImgContainer', this);
				$(hoverDiv).css("background-color","#ec1c24");
				$(itemPicture).css("border-color","#ec1c24");

				$( opciones).animate({
					opacity: 1,
					top: "-4px",
				}, 300, function() {
				// Animation complete.
			});
			});

			$( ".tableItem" ).mouseleave(function() {
				var hoverDiv = $('#hoverDiv', this);
				var itemPicture = $('.itemImgContainer', this);
				var opciones = $('.opciones', this);
				$(hoverDiv).css("background-color","#fff");
				$(itemPicture).css("border-color","#242021");
				$( opciones).animate({
					opacity: 0,
					top: "26px",
				}, 300, function() {
				// Animation complete.
			});
			});

		</script>


{% endblock %}
