{% extends 'CituaoCoordBundle::layout.html.twig' %}

{% block programa %}
{{ programa.nombre }}
{% endblock %}

{% block js  %}
<script>  /*Deja activo la sesion Practicantes en la menu sidebar*/
$( "#practicantes" ).css("background-color","#000");
$( "#practicantes img" ).css("opacity","0.4");
$( "#practicantes h3" ).css("opacity","0.4");
</script>

{% endblock %}


{% block content  %}
{{ parent() }}
	<div class="content">
		{% block upSection  %}
	<div class="upSection">
			<h1 class="sectionTitle">Datos del practicante</h1>
			<a href="{{ path('cituao_coord_practicantes') }}" class = "button"><img src="{{ asset('img/regresar.png') }}"/><h4>Regresar</h4></a>
			
			<a href="{{ path('cituao_coord_cronograma' , { 'codigo': practicante.codigo}) }}" class = "button"> <img src="{{ asset('img/crearCronograma.png') }}"/>
			{% if practicante.estado == false %}
			<h4>Crear cronograma</h4>
			{% else %}
			<h4>Modificar cronograma</h4>
			{% endif %}
			</a>
		</div>
		{% endblock  %}
		{% block downSection  %}
		<div class="downSection">
		<div class="profileContainer">
			<div class="profilePictureContainer" >
				<div class="imgContainer" style="margin: 0 auto;">
				<img class="foto" border="0" src="{{ asset('uploads/fotos/' ~  practicante.path) }}" alt="Pulpit rock" width="100%">
				</div>
				<div class="selFile" style="margin:0 auto; margin-top:30px;">{{ form_row(formulario.file) }}</div>
			</div><!-- profile pictureContainer -->
		<div class="profileFormContainer">
		<form action="{{ path('cituao_coord_practicante' , { 'codigo': practicante.codigo}) }}" method="post" {{ form_enctype(formulario) }}>
			<div>{{ form_errors(formulario) }}</div>	

			

			
			
				<div class="inputContainer">		
				<h2>{{ form_label(formulario.nombres) }}</h2>
				<div class="input">
				{{ form_widget(formulario.nombres, {'attr': {'class':'mediano'}} ) }}
				{{ form_errors(formulario.nombres) }}
				</div>
			</div>
			
				<div class="inputContainer">		
				<h2>{{ form_label(formulario.apellidos) }}</h2>
				<div class="input">
				{{ form_widget(formulario.apellidos, {'attr': {'class':'mediano'}} ) }}
				{{ form_errors(formulario.apellidos) }}
				</div>
			</div>

			<div class="inputContainer">	
				<h2>{{ form_label(formulario.ci) }}</h2>
				<div class="input"> 
				{{ form_widget(formulario.ci, {'attr': {'class':'corto'}} ) }}
				{{ form_errors(formulario.ci) }}
				</div>
			</div>

				<div class="inputContainer">		
				<h2>{{ form_label(formulario.codigo) }}</h2>
				<div class="input">
				{{ form_widget(formulario.codigo, {'attr': {'class':'corto'}} ) }}
				{{ form_errors(formulario.codigo) }}
				</div>
			</div>

				<div class="inputContainer">		
				<h2>{{ form_label(formulario.emailInstitucional) }}</h2>
				<div class="input">
				{{ form_widget(formulario.emailInstitucional, {'attr': {'class':'mediano'}} ) }}
				{{ form_errors(formulario.emailInstitucional) }}
				</div>
			</div>

				<div class="inputContainer">		
				<h2>{{ form_label(formulario.emailPersonal) }}</h2>
				<div class="input">
				{{ form_widget(formulario.emailPersonal, {'attr': {'class':'mediano'}} ) }}
				{{ form_errors(formulario.emailPersonal) }}
				</div>
			</div>

				<div class="inputContainer">	
				<h2>{{ form_label(formulario.telefonoMovil) }}</h2>
				<div class="input">
				{{ form_widget(formulario.telefonoMovil, {'attr': {'class':'corto'}} ) }}
				{{ form_errors(formulario.telefonoMovil) }}
				</div>
			</div>

				<div class="inputContainer">		
				<h2>{{ form_label(formulario.area) }}</h2>
				<div class="input">
				{{ form_widget(formulario.area) }}
				{{ form_errors(formulario.area) }}
				</div>
			</div>

				<div class="inputContainer" style="width:auto !important">		
				<h2>{{ form_label(formulario.fechaMatriculacion) }}</h2>
				<div class="input">
				{{ form_widget(formulario.fechaMatriculacion) }}
				{{ form_errors(formulario.fechaMatriculacion) }}
				</div>
			</div>

			
			{{ form_rest(formulario) }}			
			<div class="inputContainer" style="position:relative; margin-top:20px;">

						<img style="position:absolute; left:15px; float:left; pointer-events:none;" src="{{ asset('img/guardar.png') }}" />
				<input style="padding-left:40px;" class="button" type="submit" value="Guardar cambios" />

			</div>
		</form>
	</div> <!-- profileFormContainer -->
	</div> <!-- profileContainer -->
	</div><!---downSection -->
		{% endblock %} <!-- downsection -->
	</div>
{% endblock %}

