{% extends 'CituaoCoordBundle::layout.html.twig' %}

{% block seccion %}
	<div>
	<table id = "customers">
	<tbody>
		<tr>
			<th>#</th>
			<th>pIC</th>
			<th>CODIGO</th>
			<th>APELLIDOS</th>
			<th>NOMBRES</th>
			<th>CEDULA DE IDENTIDAD</th>
	
		</tr>
		
		{% set id = 1 %}
		{% set sw = false %}
		{% for practicante in listaPracticantes %}
			{% if sw == false %}
				<tr>
				{% set sw = true %}
			{% else %}
				<tr class = "alt">
				{% set sw = false %}
			{% endif %}

				<td>{{ id }}</th>
				
				<td><img border="0" src="{{ asset('uploads/fotos/user.jpeg') }}" alt="Pulpit rock" width="68" height="68"></td>
				<td>{{ practicante.codigo }}</td>
				<td>{{ practicante.apellidos }}</td>
				<td>{{ practicante.nombres }}</td>
				
				<td><a href="{{ path('cituao_coord_practicante', { 'ci': practicante.ci}) }}"> {{ practicante.ci }} </a></td>
			</tr>
			{% set id = id + 1 %}
		{% endfor %}
		</tbody>
	</table>
	</div>
{% endblock %}

