{% extends 'CituaoCoordBundle::layout.html.twig' %}

{% block js  %}

{% endblock %}


{% block content  %}
	<div class="content">
	{{ parent() }}

		{% block upSection  %}
			<div class = "upSection">
				<h1 class="sectionTitle">Archivo CSV - Practicantes registrados en el sistema</h1>
				<a href="javascript:history.back()" class = "button"><img src="{{ asset('img/regresar.png') }}"/><h4>Regresar</h4></a>
			</div>
		{% endblock  %}

		{% block downSection  %}
			<div class = "downSection">
				{% if msgerr.id == '1' %}
					<div id = "error">{{ msgerr.descripcion }}</div>	
				{% else %}
					<table class="practicantesTableHead">
						<tbody>
							<tr class="tableHead">
								<th width="15%"></th>
								<th width="9%"><img style="margin-left:11px;" src="{{ asset('img/idLabel.png') }}"/></th>
								<th width="25%"></th>
								<th width="8%"><img src="{{ asset('img/codigoLabel.png') }}"/></th>
								<th width="10%"></th>
								<th><img style="margin-left:70px;" src="{{ asset('img/mailLabel.png') }}"/></th>
								<th></th>
								<th></th>
							</tr> <!--tablehead -->
						</tbody>
					</table><!-- practicantes tableHead -->
			
						{% set id = 1 %}
						<div style="width: 100%; height: 750px; overflow: auto; position:relative; padding-bottom:30px;"> 
							<table class="generalTable">
								{% for estudiante in listaEstudiantes %}
									<tr class="spacer"></tr>
									<tr height="20px" class="tableItem">
										<td id="hoverDiv">
											<td><h2>{{ id }}</h2></td>
											<td><span>{{ estudiante.apellidos }}</span></td>
											<td><span>{{ estudiante.nombres }}</span></td>
											<td>{{ estudiante.codigo }}</td>
											<td>{{ estudiante.ci }}</td>
											<td>{{ estudiante.emailInstitucional }}</td>
									</tr>
									{% set id = id + 1 %}
								{% endfor %}
									<tr class="spacer"></tr>
									<tr class="spacer"></tr>
									<tr class="spacer"></tr>
									<tr class="spacer"></tr>
									<tr class="spacer"></tr>
									<tr class="spacer"></tr>
								</table>
						</div> <!-- tabla con items
					
				{% endif %}
			</div><!--downsection -->
		
		
		{% endblock %}
	</div> <!-- content -->
{% endblock %}
