{% extends 'CituaoCoordBundle::layout.html.twig' %}

{% block seccion %}
	<div>
	<table id = "customers">
	<tbody>
		<tr>
			<th>#</th>
			<th>CODIGO</th>
			<th>APELLIDOS</th>
			<th>NOMBRES</th>
			<th>ASIGNATURA</th>
			<th>CEDULA</th>              
		</tr>

		{% set sw = false %}
		{% for practicante in listaPracticantes %}
			{% if sw == false %}
				<tr>
				{% set sw = true %}
			{% else %}
				<tr class = "alt">
				{% set sw = false %}
			{% endif %}

				<td>1</th>
				<td>{{ practicante.codigo }}</td>
				<td>{{ practicante.apellidos }}</td>
				<td>{{ practicante.nombres }}</td>
				<td>{{ practicante.asignatura }}</td>
				<td><a href="{{ path('cituao_coord_practicante', { 'codigo': '{{ practicante.cedula }}'}) }}"> {{ practicante.cedula }} </a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>
{% endblock %}

