{% extends 'CituaoCoordBundle::layout.html.twig' %}

{% block content  %}
{{ parent() }}
	<div class="content">
		{% block upSection  %}

		<div class="upSection">
			<h1 id="sectionTitle">Nuevo practicante</h1>

			<a href="{{ path('cituao_coord_practicantes') }}" class = "button"><img src="{{ asset('img/regresar.png') }}"/><h4>Regresar</h4></a>
			
			
		</div><!-- upSection -->
		{% endblock  %}
	
	{% block downSection  %}
	<div class="downSection">
		<div class="profileContainer">
			<form action="{{ path('cituao_coord_registrar_practicante') }}" method="post" {{ form_enctype(formulario) }}>
				<div>{{ form_errors(formulario) }}</div>
				<div class="profilePictureContainer">	
					<div class="imgContainer">
						<img class = "foto" border="0" src="{{ asset('img/defaultPicture.png') }}" alt="Foto estudiante" width="100%">
					</div>
					<div class="selFile" style="margin:0 auto;">{{ form_row(formulario.file) }}</div>
				</div><!-- profile PictureContainer -->
				<div class="profileFormContainer">

					<div class="inputContainer">	
						<h2>{{ form_label(formulario.ci) }}</h2>
						<div class="input">
							{{ form_widget(formulario.ci, {'attr': {'class':'corto'}} ) }}
							{{ form_errors(formulario.ci) }}
						</div>
					</div>

					<div class="inputContainer">	
						<h2>{{ form_label(formulario.codigo) }}</h2>
						<div class="input">
						 {{ form_widget(formulario.codigo, {'attr': {'class':'corto'}} ) }}
						 {{ form_errors(formulario.codigo) }}
						 {{ form_errors(formulario.codigo) }}
						</div>
						
					</div>
					
					<div class="inputContainer">	
						<h2>{{ form_label(formulario.nombres) }}</h2>
						<div class="input"> 
							{{ form_widget(formulario.nombres, {'attr': {'class':'mediano'}} ) }}
							{{ form_errors(formulario.nombres) }}
						</div>
					</div>
					
					<div class="inputContainer">	
						<h2>{{ form_label(formulario.apellidos) }}</h2>
						<div class="input"> 
							{{ form_widget(formulario.apellidos, {'attr': {'class':'mediano'}} ) }}
							{{ form_errors(formulario.apellidos) }}
						</div>
					</div>

					<div class="inputContainer">	
						<h2>{{ form_label(formulario.emailInstitucional) }}</h2>
						<div class="input"> 
							{{ form_widget(formulario.emailInstitucional, {'attr': {'class':'mediano'}} ) }}
							{{ form_errors(formulario.emailInstitucional) }}
						</div>
					</div>

					<div class="inputContainer">	
						<h2>{{ form_label(formulario.emailPersonal) }}</h2>
						<div class="input"> 
							{{ form_widget(formulario.emailPersonal, {'attr': {'class':'mediano'}} ) }}
							{{ form_errors(formulario.emailPersonal) }}
						</div>
					</div>

					<div class="inputContainer">	
						<h2>{{ form_label(formulario.telefonoMovil) }}</h2>
						<div class="input"> 
							{{ form_widget(formulario.telefonoMovil, {'attr': {'class':'corto'}} ) }}
							{{ form_errors(formulario.telefonoMovil) }}
						</div>
					</div>

					<div class="inputContainer">	
						<h2>{{ form_label(formulario.area) }}</h2>
						<div class="input"> 
							{{ form_widget(formulario.area) }}
							{{ form_errors(formulario.area) }}
						</div>
					</div>

					<div class="inputContainer">	
						<h2>{{ form_label(formulario.fechaMatriculacion) }}</h2>
						<div class="input"> 
							{{ form_widget(formulario.fechaMatriculacion) }}
							{{ form_errors(formulario.fechaMatriculacion) }}
						</div>
					</div>

					<div class="inputContainer">
						<div style="position:relative; float:right">

						<img style="position:absolute; left:15px; float:left" src="{{ asset('img/guardar.png') }}" />
						<input style="padding-left:38px" class="button" type="submit" value="Guardar" />
						</div>
						
						
					</div>

					
				</div><!--profileForContainer -->
				{{ form_rest(formulario) }}
			</form>
		</div><!-- profileContainer -->
		{% endblock  %}
	</div><!--downsection -->
	</div> <!-- cierra content -->
{% endblock %}

{% block aside %}
	<section>
		<div id = "barratitulo">
			<h2>Opciones</h2>
		</div>
		<div>
			<a href="{{ path('cituao_coord_cronograma') }}">Cronograma de actividades</a>
			<a href="{{ path('logout') }}">Enviar correo</a>
		</div>
	</section>
{% endblock %}
