{% extends 'CituaoCoordBundle::layout.html.twig' %}

{% block infowrapper  %}
	<div id="infoWrapper">
		<h2 id = "titlee">Registrando un nuevo centro de práctica</h2>
		<div id = "menuop">
			<ul>
			<li><a href="" class = "baropcion">Regresar</a></li>
			</ul>
		</div>

		<form action="{{ path('cituao_coord_registrarcentro') }}" method="post" {{ form_enctype(formulario) }}>
			<div>{{ form_errors(formulario) }}</div>	
				
			<div>
				{{ form_label(formulario.nombre) }}
				{{ form_errors(formulario.nombre) }}
				{{ form_widget(formulario.nombre, {'attr': {'class':'largo'}} ) }}
			</div>

			<div>
				{{ form_label(formulario.direccion) }}
				{{ form_errors(formulario.direccion) }}
				{{ form_widget(formulario.direccion, {'attr': {'class':'largo'}} ) }}
			</div>

			<div>
				{{ form_label(formulario.telefono) }}
				{{ form_errors(formulario.telefono) }}
				{{ form_widget(formulario.telefono, {'attr': {'class':'mediano'}} ) }}
			</div>

			<div>
				{{ form_label(formulario.extension) }}
				{{ form_errors(formulario.extension) }}
				{{ form_widget(formulario.extension, {'attr': {'class':'corto'}} ) }}
			</div>

			<div>
				{{ form_label(formulario.email) }}
				{{ form_errors(formulario.email) }}
				{{ form_widget(formulario.email, {'attr': {'class':'largo'}} ) }}
			</div>

			<div>
				{{ form_label(formulario.url) }}
				{{ form_errors(formulario.url) }}
				{{ form_widget(formulario.url, {'attr': {'class':'largo'}} ) }}
			</div>

			
			{{ form_rest(formulario) }}

			<input class="boton" type="submit" value="Guardar" />
		</form>
	</div> <!-- cierra infoWrapper -->
{% endblock %}

