{% extends 'CituaoCoordBundle::layout.html.twig' %}

{% block seccion %}
	<form action="{{ path('usuario_registro') }}" method="post" {{ form_enctype(formulario) }}>
	    <div>
	    {{ form_errors(formulario) }}

	    <div>
		{{ form_row(formulario.username) }}
	    </div>

	    <div>
		{{ form_label(formulario.email) }}
		{{ form_errors(formulario.email) }}
		{{ form_widget(formulario.email, { 'attr': { 'class': 'largo' } }) }}
	    </div>

	    <div>
		{{ form_errors(formulario.password) }}
		{{ form_widget(formulario.password) }}

		<p class="ayuda">Escribe dos veces la misma contraseña.</p>
	    </div>



	    {{ form_rest(formulario) }}

	    <input class="boton" type="submit" value="Registrarme" />

	    </div>
	</form>	
{% endblock %}

