{% extends 'CituaoCoordBundle::layout.html.twig' %}

{% block infowrapper  %}
	<div id="infoWrapper">
		<h2 id="titlee">Nuevo practicante </h2>

		<div id = "menuop">
			<ul>
			<li><a href="javascript:history.back()" class = "baropcion">Regresar</a></li>
			</ul>
		</div>
	
	
		<form action="{{ path('cituao_coord_registrar_practicante') }}" method="post" {{ form_enctype(formulario) }}>
			<div>{{ form_errors(formulario) }}</div>	
			<div><img id = "foto" border="0" src="{{ asset('uploads/fotos/user.jpeg') }}" alt="Foto estudiante" width="114" height="144"></div>
			<div>{{ form_row(formulario.file) }}</div>
			
			<div>	
				{{ form_label(formulario.ci) }}
				{{ form_errors(formulario.ci) }}
				{{ form_widget(formulario.ci, {'attr': {'class':'corto'}} ) }}
			</div>

			<div>	
				{{ form_label(formulario.codigo) }}
				{{ form_errors(formulario.codigo) }}
				{{ form_widget(formulario.codigo, {'attr': {'class':'corto'}} ) }}
			</div>
			
			<div>	
				{{ form_label(formulario.nombres) }}
				{{ form_errors(formulario.nombres) }}
				{{ form_widget(formulario.nombres, {'attr': {'class':'mediano'}} ) }}
			</div>
			
			<div>	
				{{ form_label(formulario.apellidos) }}
				{{ form_errors(formulario.apellidos) }}
				{{ form_widget(formulario.apellidos, {'attr': {'class':'mediano'}} ) }}
			</div>

			<div>	
				{{ form_label(formulario.emailInstitucional) }}
				{{ form_errors(formulario.emailInstitucional) }}
				{{ form_widget(formulario.emailInstitucional, {'attr': {'class':'mediano'}} ) }}
			</div>

			<div>	
				{{ form_label(formulario.emailPersonal) }}
				{{ form_errors(formulario.emailPersonal) }}
				{{ form_widget(formulario.emailPersonal, {'attr': {'class':'mediano'}} ) }}
			</div>

			<div>	
				{{ form_label(formulario.telefonoMovil) }}
				{{ form_errors(formulario.telefonoMovil) }}
				{{ form_widget(formulario.telefonoMovil, {'attr': {'class':'corto'}} ) }}
			</div>

			<div>	
				{{ form_label(formulario.area) }}
				{{ form_errors(formulario.area) }}
				{{ form_widget(formulario.area) }}
			</div>

			
			{{ form_rest(formulario) }}

			<input class="boton" type="submit" value="Guardar" />
		</form>
	</div> <!-- cierra infoWrapper -->
{% endblock %}

{% block aside %}
	<section>
		<div id = "barratitulo">
			<h2>Opciones</h2>
		</div>
		<div>
			<a href="{{ path('cituao_coord_cronograma') }}">Cronograma de actividades</a>
			<a href="{{ path('logout') }}">Enviar correo</a>
		</div>
	</section>
{% endblock %}
